Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/ilasm.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/jitstress-isas-avx512.yml, eng/pipelines/coreclr/jitstress-isas-sve.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-collect.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/performance/runtime-wasm-perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-ioslike.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

eng/pipelines/coreclr/ci.yml:
  schedules:
  - cron: 0 9,18,1 * * *
    displayName: runtime-coreclr-outerloop default schedule
    branches:
      include:
      - main
    always: false
  extends:
    template: /eng/pipelines/common/templates/pipeline-with-resources.yml
    parameters:
      stages:
      - stage: Build
        jobs:
  ...

eng/pipelines/coreclr/ilasm.yml:
  schedules:
  - cron: 0 19 * * 6
    displayName: Sat at 11:00 AM (UTC-8:00)
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/pipelines/coreclr/templates/jit-outerloop-pipeline.yml
    parameters:
      platforms:
      - osx_arm64
      - osx_x64
      - linux_arm
      - linux_arm64
  ...

eng/pipelines/coreclr/jitrollingbuild.yml:
  extends:
    template: /eng/pipelines/common/templates/pipeline-with-resources.yml
    parameters:
      stages:
      - stage: Build
        jobs:
        - template: /eng/pipelines/common/platform-matrix.yml
          parameters:
            jobTemplate: /eng/pipelines/common/global-build-job.yml
  ...

eng/pipelines/coreclr/jitstress-isas-avx512.yml:
  schedules:
  - cron: 30 19 * * 6
    displayName: Sat at 11:30 AM (UTC-8:00)
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/pipelines/coreclr/templates/jit-outerloop-pipeline.yml
    parameters:
      platforms:
      - linux_x64
      - windows_x64
      - windows_x86
  ...

eng/pipelines/coreclr/jitstress-isas-sve.yml:
  schedules:
  - cron: 30 19 * * 6
    displayName: Sat at 11:30 AM (UTC-8:00)
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/pipelines/coreclr/templates/jit-outerloop-pipeline.yml
    parameters:
      platforms:
      - windows_x64
      testGroup: jitstress-isas-sve

eng/pipelines/coreclr/perf.yml:
  schedules:
  - cron: 0 0 * * 1
    displayName: Weekly Monday 12am UTC Build
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/pipelines/common/templates/pipeline-with-resources.yml
    parameters:
      stages:
      - stage: Build
        jobs:
  ...

eng/pipelines/coreclr/perf_slow.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Every night at 2:30AM
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/pipelines/common/templates/pipeline-with-resources.yml
    parameters:
      stages:
      - stage: Build
        jobs:
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

Ensure Loader tests create deps file (#112500)
  src/libraries/System.Runtime.Loader/tests/DefaultContext/System.Runtime.Loader.DefaultContext.Tests.csproj
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Update eng/pipelines/runtime.yml
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

[release/9.0-staging][iOS][globalization] Fix IndexOf on empty strings on iOS to return -1 (#112012)
  src/libraries/System.Runtime/tests/System.Globalization.Tests/CompareInfo/CompareInfoTests.IndexOf.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/StringTests.cs
  src/native/libs/System.Globalization.Native/pal_collation.m
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Add SetPathVars_coreclr condition
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Revert "Revert register constraint changes"
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/targetamd64.h
  src/coreclr/nativeaot/Runtime/amd64/DispatchResolve.asm
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Sort the list alphabetically
  docs/area-owners.md
Due: none

Add owners of the new area-CodeGen-interpreter-coreclr (#112483)
  docs/area-owners.md
Due: none

Sigh
  src/tests/JIT/Intrinsics/TypeEquality_r.csproj
  src/tests/JIT/Intrinsics/TypeEquality_ro.csproj
  src/tests/JIT/Intrinsics/TypeIntrinsics.GetEnumUnderlyingType.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Remove redundant CLRTestTargetUnsupported in jit64_2
  src/tests/JIT/jit64/jit64_2.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Skip NegotiateStream_StreamToStream_Authentication_EmptyCredentials_Fails on WinSrv 2025 (#112473)
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Skip NegotiateStream_StreamToStream_Authentication_EmptyCredentials_Fails on WinSrv 2025 (#112472)
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Pin web assembly server 2025 docker image (#112509)
  eng/pipelines/libraries/helix-queues-setup.yml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

JIT: Skip parameter register preferencing in OSR methods (#112452)
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsrabuild.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Enabled TestSelfIsFrozenNonEnregisteredStructWithExtraArgs on mono (#112482)
  src/tests/Interop/Swift/SwiftSelfContext/SwiftSelfContext.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Update container images to version v2
  eng/pipelines/common/templates/pipeline-with-resources.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix Neg.cs ARM64 assembly check
  src/tests/JIT/opt/InstructionCombining/Neg.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Remove ARM64 ifdef around new LowerCompare code
  src/coreclr/jit/lower.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Unify how we handle generic virtual
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.def
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Add generic virtual check
  src/coreclr/jit/importercalls.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Handle generic virtual in lower
  src/coreclr/jit/lower.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix return address hijacking
  src/coreclr/vm/threadsuspend.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Enable late devirt
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/importercalls.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Exclude array interfaces
  src/coreclr/vm/jitinterface.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

use TryGetSpan at IndexOf in IListSkipTakeIterator
  src/libraries/System.Linq/src/System/Linq/SkipTake.SpeedOpt.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Check effects
  src/coreclr/jit/importercalls.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Oops
  src/coreclr/jit/importercalls.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Revert "Remove redundant CLRTestTargetUnsupported in jit64_2"
  src/tests/JIT/jit64/jit64_2.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix missing genProduceReg and normalization
  src/coreclr/jit/codegenloongarch64.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Block GVM devirt for R2R and NAOT
  src/coreclr/jit/fginline.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix order
  src/coreclr/jit/importercalls.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Move IsVirtualGeneric check to assertion
  src/coreclr/jit/importercalls.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Move EQ/NE optimisation from TryLowerConditionToFlagsNode() to OptimizeConstCompare()
  src/coreclr/jit/lower.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Remove changes in LowerCompare()
  src/coreclr/jit/lower.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Add PBE based export
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AndroidCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.TempExportPal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificatePal.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ICertificatePalCore.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/IExportPal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509CertificateReader.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/StorePal.Windows.Export.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/UnixExportProvider.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ExportTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

JIT: fix local assertion prop error for partial local comparisons (#112506)
  src/coreclr/jit/assertionprop.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_111352/Runtime_111352.cs
  src/tests/JIT/Regression/JitBlue/Runtime_111352/Runtime_111352.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Feedback
  src/coreclr/jit/compiler.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix typo in method names for bounds checks
  src/coreclr/jit/compiler.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix typo in setMethodHasBoundsChecks function name
  src/coreclr/jit/morph.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix typo in method name in rangecheck.cpp
  src/coreclr/jit/rangecheck.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Set inlinersContext to nullptr
  src/coreclr/jit/fginline.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/ilasm.yml: any of: src/coreclr/ilasm, src/coreclr/ildasm
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/jitstress-isas-avx512.yml: any of: src/coreclr/jit/hwintrinsiccodegenxarch.cpp, src/coreclr/jit/hwintrinsiclistxarch.h, src/coreclr/jit/hwintrinsicxarch.cpp, src/coreclr/jit/instrsxarch.h, src/coreclr/jit/emitxarch.cpp, src/coreclr/jit/emitxarch.h
  eng/pipelines/coreclr/jitstress-isas-sve.yml: any of: src/coreclr/jit/hwintrinsiccodegenarm64.cpp, src/coreclr/jit/hwintrinsiclistarm64sve.h, src/coreclr/jit/hwintrinsicarm64.cpp, src/coreclr/jit/instrsarm64sve.h, src/coreclr/jit/emitarm64sve.cpp, src/coreclr/jit/emitfmtsarm64sve.h, src/coreclr/jit/lsraarm64.cpp
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/perf_slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/superpmi-collect.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi-diffs.yml: any of: src/coreclr/jit
  eng/pipelines/coreclr/superpmi-replay.yml: any of: src/coreclr/jit, src/coreclr/tools/superpmi, but not: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, eng/pipelines/global-build.yml, but not: **.md, .devcontainer, .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/native/libs/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/performance/perf-slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/runtime-wasm-perf.yml: any of: eng/pipelines/performance, eng/testing/performance, eng/testing/BrowserVersions.props
  eng/pipelines/runtime-cet.yml: any of: *, but not: **/*.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-community.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-extra-platforms.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-ioslike.yml: any of: src/mono/mono/mini/aot-*.*, src/mono/mono/mini/llvm-*.*, src/mono/mono/mini/mini-llvm-*.*, src/mono/mono/mini/intrinsics.c, src/mono/mono/mini/simd-*.*, src/mono/mono/mini/decompose.c, src/mono/mono/mini/method-to-ir.c, src/mono/mono/mini/mini.c
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, eng/pipelines/coreclr/perf*yml, eng/pipelines/coreclr/templates/build-perf*, eng/pipelines/coreclr/templates/perf-job.yml, eng/pipelines/coreclr/templates/run-perf*, eng/testing/performance
  eng/pipelines/runtime-llvm.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-llvmfullaot.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, eng/pipelines/performance, eng/testing/performance
  eng/pipelines/runtimelab-official.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
