Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/ilasm.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/jitstress-isas-sve.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-collect.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/performance/runtime-wasm-perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-ioslike.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/ilasm.yml: any of: src/coreclr/ilasm, src/coreclr/ildasm
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/jitstress-isas-sve.yml: any of: src/coreclr/jit/hwintrinsiccodegenarm64.cpp, src/coreclr/jit/hwintrinsiclistarm64sve.h, src/coreclr/jit/hwintrinsicarm64.cpp, src/coreclr/jit/instrsarm64sve.h, src/coreclr/jit/emitarm64sve.cpp, src/coreclr/jit/emitfmtsarm64sve.h, src/coreclr/jit/lsraarm64.cpp
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/perf_slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/superpmi-collect.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi-diffs.yml: any of: src/coreclr/jit
  eng/pipelines/coreclr/superpmi-replay.yml: any of: src/coreclr/jit/lsra*.*
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, eng/pipelines/global-build.yml, but not: **.md, .devcontainer, .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/native/libs/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/performance/perf-build.yml: any of: *, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/perf-slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/runtime-wasm-perf.yml: any of: eng/pipelines/performance, eng/testing/performance, eng/testing/BrowserVersions.props
  eng/pipelines/runtime-cet.yml: any of: *, but not: **/*.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-community.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-diagnostics.yml: any of: eng/pipelines, src/coreclr, src/native
  eng/pipelines/runtime-extra-platforms.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-ioslike.yml: any of: src/mono/mono/mini/aot-*.*, src/mono/mono/mini/llvm-*.*, src/mono/mono/mini/mini-llvm-*.*, src/mono/mono/mini/intrinsics.c, src/mono/mono/mini/simd-*.*, src/mono/mono/mini/decompose.c, src/mono/mono/mini/method-to-ir.c, src/mono/mono/mini/mini.c
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, eng/pipelines/coreclr/perf*yml, eng/pipelines/coreclr/templates/build-perf*, eng/pipelines/coreclr/templates/perf-job.yml, eng/pipelines/coreclr/templates/run-perf*, eng/testing/performance
  eng/pipelines/runtime-llvm.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-llvmfullaot.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, eng/pipelines/performance, eng/testing/performance
  eng/pipelines/runtimelab-official.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT

fix manual com marshalling
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataMethodInstance.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

implement FCall lookup
  src/coreclr/debug/runtimeinfo/contractpointerdata.cpp
  src/coreclr/debug/runtimeinfo/contracts.jsonc
  src/coreclr/debug/runtimeinfo/datadescriptor.cpp
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/vm/ecall.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IECall.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ECallFactory.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ECall_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ECHash.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader/CachingContractRegistry.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

add docs for and improve DacEnumerableHash table
  docs/design/datacontracts/Loader.md
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Loader_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/DacEnumerableHash.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/EETypeHashTable.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/InstMethodHashTable.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.IXCLRDataProcess.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

test and fix FCall lookup
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ECall_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.IXCLRDataProcess.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

add docs related to ECall
  docs/design/datacontracts/ECall.md
Due: none

fix loader.GetModules call
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.IXCLRDataProcess.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

add docs for RuntimeTypeSystem changes
  docs/design/datacontracts/RuntimeTypeSystem.md
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Remove changes that were split out into separate prs
  eng/testing/tests.wasm.targets
  src/mono/browser/build/BrowserWasmApp.targets
  src/mono/browser/runtime/runtime.c
  src/mono/mono/mini/intrinsics.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-ioslike.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Align SlhDsa API with MLKem (#115290)
  src/libraries/Common/src/System/Security/Cryptography/SlhDsa.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaContractTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaImplementationTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTests.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/SlhDsaX509SignatureGenerator.cs
  src/libraries/System.Security.Cryptography/tests/SlhDsaOpenSslTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509Certificate2PemTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

remove pointless comment
  src/libraries/Common/src/System/HexConverter.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Remove OOM test
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaContractTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Array support. Error checking for generic string signature.
  src/coreclr/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.CoreCLR.cs
  src/coreclr/vm/siginfo.cpp
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.Types.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Disable failing test cases caused by Roslyn optimization
  src/tests/JIT/interpreter/Interpreter.cs
  src/tests/JIT/interpreter/Interpreter.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Implement i8 jiterp shuffle and simplify logic
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

[Perf] Add build time measurements for apple mobile and android scenarios (#113469)
  eng/testing/performance/android_scenarios.proj
  eng/testing/performance/ios_scenarios.proj
  src/mono/sample/Android/Makefile
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/performance/runtime-wasm-perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix the element count calc
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

remove extra var
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Onboard the GitHub Action based Issue-Labeler (#115256)
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-promote.yml
  .github/workflows/labeler-train.yml
  .github/workflows/labeler.md
Due: eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml

MethodDesc::s_ClassificationSizeTable to heapdumps
  src/coreclr/debug/daccess/enummem.cpp
  src/coreclr/vm/method.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Revert "MethodDesc::s_ClassificationSizeTable to heapdumps"
  src/coreclr/debug/daccess/enummem.cpp
  src/coreclr/vm/method.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Improve startup perf by avoiding JIT when invoking well-known signatures
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Reflection/ConstructorInvoker.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/InstanceCalliHelper.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/MethodBaseInvoker.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/MethodInvoker.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/MethodInvokerCommon.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IL/Stubs/InstanceCalliHelperIntrinsics.cs
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/corelib.h
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Reflection/ConstructorInvoker.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/InvokerEmitUtil.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBaseInvoker.Constructor.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBaseInvoker.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodInvoker.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodInvokerCommon.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.cs
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/System/Reflection/ConstructorInvoker.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/MethodBaseInvoker.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/MethodInvoker.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/MethodInvokerCommon.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

[release/9.0-staging] improve distribute_free_regions (#115167)
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

[release/8.0-staging] improve distribute_free_regions (#115023)
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Implement partial ExecutionManager GetFuncletStartAddress
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/Extensions/IExecutionManagerExtensions.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IExecutionManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_2.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/Unwinder.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix empty LdapException.ServerErrorMessage (#115192)
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Update src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UserDefinedTypeDescriptor.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UserDefinedTypeDescriptor.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Code review feedback
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/threads.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Conditional behavior based on OS
  src/installer/tests/HostActivation.Tests/SymbolicLinks.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

update macos signing to use pme (#115342)
  eng/pipelines/common/macos-sign-with-entitlements.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

More changes
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Add validation that the vtable layouts are preinitialized and guard the diagnostics-only table with the debugger support feature switch that already exists.
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.NativeAot.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

fix tests
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.MethodDescriptors.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Remove now-incorrect generics handling and fix handling of invalid generic parameter reference syntax
  src/coreclr/tools/Common/TypeSystem/IL/UnsafeAccessors.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Handle not supported name constraints on Linux
  src/libraries/Common/src/System/Security/Cryptography/Asn1/GeneralSubtreeAsn.xml
  src/libraries/Common/src/System/Security/Cryptography/Asn1/GeneralSubtreeAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/NameConstraintsAsn.xml
  src/libraries/Common/src/System/Security/Cryptography/Asn1/NameConstraintsAsn.xml.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509ChainProcessor.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/DynamicChainTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

[wasm] Use packedsimd in hexconverter (#115062)
  src/libraries/Common/src/System/HexConverter.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Runtime.Intrinsics/tests/Wasm/PackedSimdTests.cs
  src/mono/mono/mini/interp/transform-simd.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/simd-intrinsics.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-ioslike.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Rework slightly
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Adjust handling for "ref object" parameters
  src/coreclr/tools/Common/TypeSystem/IL/UnsafeAccessors.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Add missing case
  src/coreclr/tools/Common/TypeSystem/IL/UnsafeAccessors.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix condition
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix config source gen with Dictionary with nullable Enum value
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Emitter/CoreBindingHelpers.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.TestClasses.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml
