Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

Fixed trailing whitespaces
  src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/PathAssemblyResolver.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add FullAOT mode for Simulator to AppleAppBuilder
  src/mono/netcore/sample/iOS/Makefile
  src/mono/netcore/sample/iOS/Program.csproj
  tools-local/tasks/mobile.tasks/AppleAppBuilder/AppleAppBuilder.cs
  tools-local/tasks/mobile.tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
  tools-local/tasks/mobile.tasks/AppleAppBuilder/Templates/main-console.m
  tools-local/tasks/mobile.tasks/AppleAppBuilder/Templates/runtime.m
  tools-local/tasks/mobile.tasks/AppleAppBuilder/Xcode.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Addressed code review feedback about the computation of decommit_size in decommit_ephemeral_pages_step.
  src/coreclr/src/gc/gc.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[interp] Add separate opcode for pop vt
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

rename encodeIndefiniteLengths parameter to convertIndefiniteLengthEncodings and change default value.
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CoseKeyHelpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

add xml docs to CborWriter.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Render major types using their numeric values in exception messages
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Enable passing coreclr tests
  src/coreclr/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

fix handling of root-level break bytes when multiple root-level items are permitted
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Issues.targets changed.
  src/coreclr/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

add xml docs to CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Cleanup CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[interp] Fix interp entry for methods with lots of arguments in llvmonly+interp mode. (#36678)
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/interp.h
  src/mono/mono/mini/mini-generic-sharing.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Implement support for RequiresUnreferencedCodeAttribute (dotnet/linker#1204)
  src/tools/illink/docs/error-codes.md
  src/tools/illink/src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.cs
  src/tools/illink/src/linker/Linker/Annotations.cs
  src/tools/illink/src/linker/Linker/LinkerAttributesInformation.cs
  src/tools/illink/src/linker/Linker/LinkerFatalErrorException.cs
  src/tools/illink/src/linker/System.Diagnostics.CodeAnalysis/RequiresUnreferencedCodeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/LogContainsAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/LogDoesNotContainAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/System.Diagnostics.CodeAnalysis/RequiresUnreferencedCodeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCases/TestDatabase.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCases/TestSuites.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/TestCaseMetadaProvider.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Implement support for RequiresUnreferencedCodeAttribute (dotnet/linker#1204)
  src/tools/linker/docs/error-codes.md
  src/tools/linker/src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/tools/linker/src/linker/Linker.Steps/MarkStep.cs
  src/tools/linker/src/linker/Linker/Annotations.cs
  src/tools/linker/src/linker/Linker/LinkerAttributesInformation.cs
  src/tools/linker/src/linker/Linker/LinkerFatalErrorException.cs
  src/tools/linker/src/linker/System.Diagnostics.CodeAnalysis/RequiresUnreferencedCodeAttribute.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases.Expectations/Assertions/LogContainsAttribute.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases.Expectations/Assertions/LogDoesNotContainAttribute.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases.Expectations/System.Diagnostics.CodeAnalysis/RequiresUnreferencedCodeAttribute.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.cs
  src/tools/linker/test/Mono.Linker.Tests/TestCases/TestDatabase.cs
  src/tools/linker/test/Mono.Linker.Tests/TestCases/TestSuites.cs
  src/tools/linker/test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
  src/tools/linker/test/Mono.Linker.Tests/TestCasesRunner/TestCaseMetadaProvider.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

add xml docs to CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

add xml docs for CborWriter array and map methods
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update public GC.AddMemoryPressure() and GC.RemoveMemoryPressure() to use newer algorithm.
  src/coreclr/src/vm/comutilnative.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Use a Brewfile for installing brew packages (#36747)
  docs/workflow/requirements/macos-requirements.md
  eng/Brewfile
  eng/install-native-dependencies.sh
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/mono/templates/build-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add more Host tests
  src/libraries/System.Private.Uri/src/System/Uri.cs
  src/libraries/System.Private.Uri/tests/FunctionalTests/IdnDnsSafeHostTest.cs
  src/libraries/System.Private.Uri/tests/FunctionalTests/UriTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Adding OSX support for System.DirectoryServices.Protocols (#36669)
  src/libraries/Common/src/Interop/OSX/Interop.Libraries.cs
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesTestHelpers.cs
  src/libraries/System.DirectoryServices.Protocols/tests/System.DirectoryServices.Protocols.Tests.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Optimize call indirect for R2R, Arm and Arm64 scenarios (#35675)
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lsraarmarch.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Ensure SimdAsHWIntrinsic with 0 args are properly handled
  src/coreclr/src/jit/lowerarmarch.cpp
  src/coreclr/src/jit/simdashwintrinsic.cpp
  src/coreclr/src/jit/simdashwintrinsiclistarm64.h
  src/coreclr/src/jit/simdashwintrinsiclistxarch.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

rename CborWriter.GetEncoding()/TryWriteEncoding() to Encode()/TryEncode()
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborRoundtripTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove buffer pooling and IDisposable implementation from CborWriter
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborRoundtripTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

move exception messages to resource file
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Helpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Resources/Strings.resx
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

rebase on top of latest cbor changes
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CoseKeyHelpers.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

move writer exception messages to resource strings
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Resources/Strings.resx
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Implement a CborWriter.Reset() method
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

fix failing tests
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Tag.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

remove clearArray argument from Reset() function
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

add XML docs for shared CBOR types
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborInitialByte.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborTag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

tolerate invalid utf8 encodings in lax conformance levels
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

flip default validateConformance value in SkipValue() method
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CoseKeyHelpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

tidy up CborReader internal state; add more comments
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

fix strict conformance level rollback bug
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

more CborReader internal state tidying up
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Deprecate CborReader.BytesRemaining property
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Change return type of CborReader.ReadEncodedValye() to ReadOnlySpan<byte>
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

factor CborReaderState to a separate file, add xml docs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReaderState.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/System.Formats.Cbor.Shared.projitems
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml
