Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

Remove FEATURE_COMPILED from System.Text.RegularExpressions
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Added missing InteropServices.WindowsRuntime types to mono SPC (#32905)
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/Attributes.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/IActivationFactory.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Updating Helix SDK to address https://github.com/dotnet/core-eng/issues/9132
  eng/Version.Details.xml
  global.json
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Incorrect alias in area owners
  docs/area-owners.md
Due: none

Fix jit build break
  src/coreclr/src/jit/codegencommon.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update RID graph to include recent Android version and support for emulators (#32914)
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

can't get there from here
  src/coreclr/src/jit/codegencommon.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Code review.
  src/libraries/System.Text.Json/tests/Serialization/CustomConverterTests.Int32.cs
  src/libraries/System.Text.Json/tests/Serialization/CustomConverterTests.NullValueType.cs
  src/libraries/System.Text.Json/tests/Serialization/CustomConverterTests.NullableTypes.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Code review #2.
  src/libraries/System.Text.Json/tests/Serialization/CustomConverterTests.Int32.cs
  src/libraries/System.Text.Json/tests/Serialization/CustomConverterTests.NullableTypes.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix .* handling of RegexOptions.Singleline
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix jit build break (#32927)
  src/coreclr/src/jit/codegencommon.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Re-re-enable Regex tests on .NET Framework
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Enable workflow of building Mono and Libraries without CoreCLR (#32881)
  docs/workflow/building/libraries/README.md
  eng/pipelines/global-build.yml
  eng/referenceFromRuntime.targets
  src/libraries/System.Runtime.InteropServices.WindowsRuntime/src/System.Runtime.InteropServices.WindowsRuntime.csproj
  src/libraries/ref.builds
  src/libraries/shims/manual/Directory.Build.props
  src/libraries/src.builds
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/Internal/Resources/PRIExceptionInfo.cs
  src/mono/netcore/System.Private.CoreLib/src/Internal/Resources/WindowsRuntimeResourceManagerBase.cs
  src/mono/netcore/System.Private.CoreLib/src/Internal/Runtime/InteropServices/WindowsRuntime/ExceptionSupport.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Array.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Environment.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/EventRegistrationToken.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/EventRegistrationTokenTable.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/WindowsRuntimeMarshal.cs
  src/mono/netcore/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Type.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/TypedReference.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Use nuget package for desktop ref assms This enables build from windows without installing older .NETFramework targeting packs.
  eng/Versions.props
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Incorrect alias in area owners (#32924)
  docs/area-owners.md
Due: none

Fix JIT traces for the case where a tier 1 compilation switches to MinOpts
  src/coreclr/src/jit/compiler.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[loader] Remove unnecessary newline in loader mono_trace call
  src/mono/mono/metadata/appdomain.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Noah's Feedback
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityListener.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySourceEventArgs.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivitySourceTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

small fix
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update README.md
  docs/workflow/building/libraries/README.md
Due: none

[interp] Move state.ip and next_free save/set/restore from interp_run…
  src/mono/mono/mini/interp/interp.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add how to run outer loop libraries tests
  docs/workflow/testing/libraries/testing.md
Due: none

Mark HostModel package as non-shipping (#32901)
  src/installer/managed/Microsoft.NET.HostModel/Microsoft.NET.HostModel.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update docs/workflow/requirements/windows-requirements.md
  docs/workflow/requirements/windows-requirements.md
Due: none

* Add ConcurrentDictionary to cache the key converters * Throw InvalidOperationException on StringKeyConverter
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/KeyConverters/StringKeyConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[mono] Use ALC and throw FileNotFound in RuntimeAssembly.InternalLoad
  src/libraries/System.Reflection/tests/CoreCLR/AssemblyTests.cs
  src/libraries/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs
  src/libraries/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add binlogs to coreclr's build process (#32842)
  src/coreclr/build.cmd
  src/coreclr/build.sh
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update shared HPackEncoder
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/HPackEncoder.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

feedback from review
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add API docs for DSASignatureFormat and DSA
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSASignatureFormat.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix .* handling of RegexOptions.Singleline (#32930)
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Re-re-enable Regex tests on .NET Framework (#32931)
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Enable test fixed already
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Move.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Invert Environment.UserInteractive (fix)
  src/libraries/System.Private.CoreLib/src/System/Environment.Windows.cs
  src/libraries/System.ServiceProcess.ServiceController/tests/ServiceBaseTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

removed unused local for System.Numerics.Tensor
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/Tensor.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update windows-requirements.md (#32938)
  docs/workflow/requirements/windows-requirements.md
Due: none

Debugging changes.
  src/coreclr/build-test.sh
  src/coreclr/tests/issues.targets
  src/coreclr/tests/src/dirs.proj
  src/coreclr/tests/src/runtest.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Package libcoreclrtraceptprovider.so with sharedFramework
  src/coreclr/src/pal/src/eventprovider/lttngprovider/CMakeLists.txt
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml
