Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/ilasm.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/ilasm.yml: any of: src/coreclr/ilasm, src/coreclr/ildasm
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/perf_slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/superpmi-replay.yml: any of: src/coreclr/jit, but not: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, eng/pipelines/*.*, CODE-OF-CONDUCT.md, CONTRIBUTING.md, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/native/libs/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

Remove `IgnoreInaccessible`
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Avoid using object_gennum for objects that could come from frozen segments (#65174)
  src/coreclr/gc/gc.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add EqualsAll and EqualsAny intrinsics
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Remove unsafe block, rework function to potentially reduce back-to-back reads/writes to memory
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Replace suppression attribute with #pragma
  src/libraries/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationElementExtension.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

restore the warnings after the line that raises IL2026
  src/libraries/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationElementExtension.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix net48 tests
  src/libraries/System.ComponentModel.Annotations/tests/System.ComponentModel.Annotations.Tests.csproj
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/RegularExpressionAttributeTests.Core.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/RegularExpressionAttributeTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Store the result in the return local in native-to-managed IL stubs.
  src/mono/mono/metadata/marshal-ilgen.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Move allocations after checks
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngSymmetricAlgorithmCore.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Annotate stuff
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/ref/Microsoft.Extensions.Options.DataAnnotations.cs
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/ref/Microsoft.Extensions.Options.DataAnnotations.csproj
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/src/DataAnnotationValidateOptions.cs
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/src/Microsoft.Extensions.Options.DataAnnotations.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update Math.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update MathF.cs
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Remove overload with non-optional parameters
  src/libraries/System.Runtime/ref/System.Runtime.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Move test with expected crash to outerloop (#65114)
  eng/testing/RunnerTemplate.sh
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/PosixSignalRegistrationTests.Unix.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add new line at EOF in `Interop.BY_HANDLE_FILE_INFORMATION`
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.BY_HANDLE_FILE_INFORMATION.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable download attempt of the MauiAndroidApp.
  eng/pipelines/coreclr/templates/perf-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Rename to System.Runtime.InteropServices.NFloat.Internal and ensure that packaging is configured correctly
  src/libraries/System.Runtime.InteropServices.NFloat.Internal/Directory.Build.props
  src/libraries/System.Runtime.InteropServices.NFloat.Internal/System.Runtime.InteropServices.NFloat.Internal.sln
  src/libraries/System.Runtime.InteropServices.NFloat.Internal/ref/System.Runtime.InteropServices.NFloat.Internal.csproj
  src/libraries/System.Runtime.InteropServices.NFloat.Internal/src/System.Runtime.InteropServices.NFloat.Internal.proj
  src/libraries/System.Runtime.InteropServices.NFloat.Internal/tests/System.Runtime.InteropServices.NFloat.Internal.Tests.csproj
  src/libraries/testPackages/packageSettings/System.Runtime.InteropServices.NFloat.Internal/settings.targets
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Move Msquic over to Source-generated delegate interop.
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Properly check for the last use of a field of a multi-reg local in LinearScan::BuildStoreLocDef() in src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsrabuild.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Increase arm32/arm64 maximum instruction group size (#65153)
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Make System.Math/MathF.Truncate an intrinsic (#65014)
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/include/pal/palinternal.h
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Feedback
  src/coreclr/jit/gentree.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Minor fix
  src/coreclr/jit/valuenum.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Minor comment update
  src/coreclr/jit/valuenum.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Added another comment
  src/coreclr/jit/valuenum.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add conditional for mono/clr test
  src/libraries/System.Runtime/tests/System/Type/TypePropertyTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update comment
  src/coreclr/jit/valuenum.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Unformat includes
  src/mono/mono/metadata/marshal-ilgen.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Annotate things
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/ref/Microsoft.Extensions.Options.ConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/ref/Microsoft.Extensions.Options.ConfigurationExtensions.csproj
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/ConfigurationChangeTokenSource.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/Microsoft.Extensions.Options.ConfigurationExtensions.csproj
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/NamedConfigureFromConfigurationOptions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/OptionsBuilderConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/OptionsConfigurationServiceCollectionExtensions.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Formatting
  src/coreclr/jit/valuenum.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Move mono public API utils/ files to src/native/include/
  src/mono/CMakeLists.txt
  src/mono/mono/component/CMakeLists.txt
  src/mono/mono/metadata/sgen-client-mono.h
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/mono-codeman.c
  src/mono/mono/utils/mono-error.c
  src/mono/mono/utils/mono-forward-internal.h
  src/mono/mono/utils/mono-logger-internals.h
  src/mono/mono/utils/mono-rand.c
  src/mono/mono/utils/mono-rand.h
  src/mono/mono/utils/strenc.c
  src/native/include/CMakeLists.txt
  src/native/include/mono/utils/mono-counters.h
  src/native/include/mono/utils/mono-dl-fallback.h
  src/native/include/mono/utils/mono-error.h
  src/native/include/mono/utils/mono-forward.h
  src/native/include/mono/utils/mono-jemalloc.h
  src/native/include/mono/utils/mono-logger.h
  src/native/include/mono/utils/mono-private-unstable.h
  src/native/include/mono/utils/mono-publib.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fix mono dbgshim and mscordbi builds
  src/mono/dlls/dbgshim/CMakeLists.txt
  src/mono/dlls/mscordbi/CMakeLists.txt
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Move the public headers into a mono-2.0 directory
  src/mono/CMakeLists.txt
  src/native/include/mono-2.0/CMakeLists.txt
  src/native/include/mono-2.0/mono/metadata/appdomain.h
  src/native/include/mono-2.0/mono/metadata/assembly.h
  src/native/include/mono-2.0/mono/metadata/attrdefs.h
  src/native/include/mono-2.0/mono/metadata/blob.h
  src/native/include/mono-2.0/mono/metadata/class.h
  src/native/include/mono-2.0/mono/metadata/debug-helpers.h
  src/native/include/mono-2.0/mono/metadata/debug-mono-symfile.h
  src/native/include/mono-2.0/mono/metadata/environment.h
  src/native/include/mono-2.0/mono/metadata/exception.h
  src/native/include/mono-2.0/mono/metadata/image.h
  src/native/include/mono-2.0/mono/metadata/loader.h
  src/native/include/mono-2.0/mono/metadata/metadata.h
  src/native/include/mono-2.0/mono/metadata/mono-config.h
  src/native/include/mono-2.0/mono/metadata/mono-debug.h
  src/native/include/mono-2.0/mono/metadata/mono-gc.h
  src/native/include/mono-2.0/mono/metadata/mono-private-unstable.h
  src/native/include/mono-2.0/mono/metadata/object-forward.h
  src/native/include/mono-2.0/mono/metadata/object.h
  src/native/include/mono-2.0/mono/metadata/opcodes.h
  src/native/include/mono-2.0/mono/metadata/profiler-events.h
  src/native/include/mono-2.0/mono/metadata/profiler.h
  src/native/include/mono-2.0/mono/metadata/reflection.h
  src/native/include/mono-2.0/mono/metadata/row-indexes.h
  src/native/include/mono-2.0/mono/metadata/sgen-bridge.h
  src/native/include/mono-2.0/mono/metadata/threads.h
  src/native/include/mono-2.0/mono/metadata/tokentype.h
  src/native/include/mono-2.0/mono/metadata/verify.h
  src/native/include/mono-2.0/mono/utils/mono-counters.h
  src/native/include/mono-2.0/mono/utils/mono-dl-fallback.h
  src/native/include/mono-2.0/mono/utils/mono-error.h
  src/native/include/mono-2.0/mono/utils/mono-forward.h
  src/native/include/mono-2.0/mono/utils/mono-jemalloc.h
  src/native/include/mono-2.0/mono/utils/mono-logger.h
  src/native/include/mono-2.0/mono/utils/mono-private-unstable.h
  src/native/include/mono-2.0/mono/utils/mono-publib.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Mono mini public header to src/native/include/mono-2.0
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/debug-mini.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini.h
  src/native/include/mono-2.0/CMakeLists.txt
  src/native/include/mono-2.0/mono/mini/jit.h
  src/native/include/mono-2.0/mono/mini/mono-private-unstable.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fix windows build
  src/mono/mono/metadata/coree.c
  src/mono/mono/metadata/coree.h
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/utils/mono-os-wait.h
  src/mono/mono/utils/mono-rand-windows.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml
