Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

Added missing ;
  src/coreclr/tests/helixpublishwitharcade.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Revert "Restore Seperate test builds, but fix broken pipe (#35378)"
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/runtime.yml
  src/coreclr/tests/src/Interop/COM/Activator/Activator.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyA.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyB.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyC.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyContracts.csproj
  src/coreclr/tests/src/Interop/COM/ComWrappers/API/ComWrappersTests.csproj
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceTests.csproj
  src/coreclr/tests/src/Interop/COM/Dynamic/Dynamic.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Aggregation/NETClientAggregation.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/ConsumeNETServer/ConsumeNETServer.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Events/NETClientEvents.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/IDispatch/NETClientIDispatch.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Licensing/NETClientLicense.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitivesInALC.csproj
  src/coreclr/tests/src/Interop/COM/NETServer/NETServer.DefaultInterfaces.ilproj
  src/coreclr/tests/src/Interop/COM/NETServer/NETServer.csproj
  src/coreclr/tests/src/Interop/COM/Reflection/Reflection.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix target specific download to not clean the unpack dir
  eng/pipelines/common/templates/runtimes/run-test-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove an unnecessary check from fgMakeOutgoingStructArgCopy.
  src/coreclr/src/jit/morph.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Move documentation to doc/ folder and fill some gaps in the documentation (dotnet/linker#1154)
  src/tools/linker/docs/README.md
  src/tools/linker/docs/custom-steps.md
  src/tools/linker/docs/data-formats.md
  src/tools/linker/docs/design/reflection-flow.md
  src/tools/linker/docs/design/steps-explained.md
  src/tools/linker/docs/error-codes.md
  src/tools/linker/docs/illink-options.md
  src/tools/linker/docs/illink-tasks.md
  src/tools/linker/src/ILLink.Tasks/README.md
  src/tools/linker/src/linker/ErrorAndWarningCodes.md
  src/tools/linker/src/linker/Linker/MessageContainer.cs
  src/tools/linker/src/linker/README.md
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Move documentation to doc/ folder and fill some gaps in the documentation (dotnet/linker#1154)
  src/tools/illink/docs/README.md
  src/tools/illink/docs/custom-steps.md
  src/tools/illink/docs/data-formats.md
  src/tools/illink/docs/design/reflection-flow.md
  src/tools/illink/docs/design/steps-explained.md
  src/tools/illink/docs/error-codes.md
  src/tools/illink/docs/illink-options.md
  src/tools/illink/docs/illink-tasks.md
  src/tools/illink/src/ILLink.Tasks/README.md
  src/tools/illink/src/linker/ErrorAndWarningCodes.md
  src/tools/illink/src/linker/Linker/MessageContainer.cs
  src/tools/illink/src/linker/README.md
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

add freebsd requirements
  docs/workflow/README.md
  docs/workflow/requirements/freebsd-requirements.md
Due: none

corrections
  docs/workflow/requirements/freebsd-requirements.md
Due: none

format
  docs/workflow/requirements/freebsd-requirements.md
Due: none

Spannify initial parts of GCD alg
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.GcdInv.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[wasm] Integrate the m2n-gen.cs tool into mcs/tools/wasm-tuner. (#35660)
  src/mono/mono/mini/m2n-gen.cs
  src/mono/mono/mini/wasm_m2n_invoke.g.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Simple GCD test for debugging
  src/libraries/System.Runtime.Numerics/tests/BigInteger/gcd.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Simple test for debugging
  src/libraries/System.Runtime.Numerics/tests/BigInteger/gcd.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add TBL and TBX emitter tests and make displayer always emit 16B.
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/emitarm64.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Removed debug code
  src/libraries/System.Runtime.Numerics/tests/BigInteger/gcd.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Spannified GCD algorithm
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.GcdInv.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Removed arg passing by ref
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.GcdInv.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Complete migration of gcd to span
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.GcdInv.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[libraries] Build lib-runtime-packs for all of mono, not just mobile (#35295)
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/Native/native-binplace.proj
  src/libraries/restore/runtime/runtime.depproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Removed memory allocation for trivial case of GCD
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.BitsBuffer.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.DivRem.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Reorganize utility code
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.PowMod.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.Utils.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix comment on CancellationTokenRegistration.Token
  src/libraries/System.Private.CoreLib/src/System/Threading/CancellationTokenRegistration.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

IntroSort minor cleanup, remove unnecessary 'hi' (#35663)
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ArraySortHelper.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Removed redundant parameter
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.PowMod.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[mono] Pass category=failing and category=outerloop to Android and iOS (#35665)
  .config/dotnet-tools.json
  eng/testing/tests.targets
  src/mono/msbuild/AndroidTestRunner/AndroidTestRunner.cs
  src/mono/msbuild/AppleTestRunner/AppleTestRunner.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Updated log name.
  eng/pipelines/common/templates/runtimes/run-test-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[eng] Fix condition on RunTestsCommand property
  eng/testing/tests.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

address PR feedback
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove FromAsync usage from TcpClient (#35512)
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Insert missing break
  src/coreclr/src/jit/hwintrinsicarm64.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[eng] Fix condition on RunTestsCommand property (#35709)
  eng/testing/tests.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update nullability.md with note about Try methods and [NotNullWhen(true)]
  docs/coding-guidelines/api-guidelines/nullability.md
Due: none

Change ManagedWebSocket to send pong frame for keep-alive (#35644)
  src/libraries/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Verify type is actual System.Uri type
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UriConverterFactory.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml
