Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/ilasm.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/jitstress-isas-avx512.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-collect.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/ilasm.yml: any of: src/coreclr/ilasm, src/coreclr/ildasm
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/jitstress-isas-avx512.yml: any of: src/coreclr/jit/hwintrinsiccodegenxarch.cpp, src/coreclr/jit/hwintrinsiclistxarch.h, src/coreclr/jit/hwintrinsicxarch.cpp, src/coreclr/jit/instrsxarch.h, src/coreclr/jit/emitxarch.cpp, src/coreclr/jit/emitxarch.h
  eng/pipelines/coreclr/perf_slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/superpmi-collect.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi-diffs.yml: any of: src/coreclr/jit, but not: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi-replay.yml: any of: src/coreclr/jit, src/coreclr/tools/superpmi, but not: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, eng/pipelines/global-build.yml, but not: **.md, .devcontainer, .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/native/libs/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/runtime-cet.yml: any of: *, but not: **/*.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-community.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-extra-platforms.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-llvm.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-llvmfullaot.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT

Introduce and switch to a new JIT-EE method
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-collect.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[mono][aot] Use g_strcasecmp () to check whenever aot input assemblies are loaded from the correct location.
  src/mono/mono/mini/driver.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add some KeyAnalyzer tests.
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/KeyAnalyzer.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/KeyAnalyzerTests.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Apply suggestions from code review
  src/coreclr/vm/jitinterface.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Eliminate cancellation deadlock in RateLimiter implementations (#90285)
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/tests/ConcurrencyLimiterTests.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

System.Reflection.Tests.MetadataLoadContextTests also need to root TestILAssembly for aggressive trimming scenarios
  src/libraries/System.Reflection.MetadataLoadContext/tests/ILLink.Descriptors.xml
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Enable isolates storage tests on maccatalyst (#90150)
  src/libraries/System.IO.IsolatedStorage/tests/System/IO/IsolatedStorage/ContainsUnknownFilesTests.cs
  src/libraries/System.IO.IsolatedStorage/tests/System/IO/IsolatedStorage/CopyFileTests.cs
  src/libraries/System.IO.IsolatedStorage/tests/System/IO/IsolatedStorage/MoveFileTests.cs
  src/libraries/System.IO.IsolatedStorage/tests/System/IO/IsolatedStorage/OpenFileTests.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fix `SA1028`
  src/libraries/System.Private.CoreLib/src/System/Text/Latin1Utility.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fix `CS0127`
  src/libraries/System.Private.CoreLib/src/System/Text/Latin1Utility.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[ComInterfaceGenerator] Add implementation and test for CallerAllocateBufferType parameters (#90263)
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/RcwAroundCcwTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatelessCallerAllocateBufferMarshalling.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Restored Crossgen2's optimizations in CoreCLR builds and reenabled the poisoning tests since the problem has been addressed. (#90278)
  src/coreclr/crossgen-corelib.proj
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Utility.cs
  src/tests/JIT/Directed/Directed_3.csproj
  src/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add AppendAllBytesAsync tests
  src/libraries/System.IO.FileSystem/tests/File/AppendAsync.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add AppendAllBytesAsync implemntation
  src/libraries/System.Private.CoreLib/src/System/IO/File.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add AppendAllBytesAsync definition
  src/libraries/System.Runtime/ref/System.Runtime.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Address the feedback
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/src/DataAnnotationValidateOptions.cs
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/src/Microsoft.Extensions.Options.DataAnnotations.csproj
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Don't use `var` if type name doesn't exist explicitly on right-hand side
  src/libraries/System.Runtime/tests/System/GCTests.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

PR feedback for using terse method tables and JIT intrinsics for GC array allocation that should be slightly faster.
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.NativeAot.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Changed EmbeddedValueType and added comment.
  src/libraries/System.Runtime/tests/System/GCTests.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Ensure that constant folding for long->float is handled correctly
  src/coreclr/jit/gentree.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Adding a regression test ensuring long->float conversions are correctly handled
  src/tests/JIT/Regression/JitBlue/Runtime_90323/Runtime_90323.cs
  src/tests/JIT/Regression/JitBlue/Runtime_90323/Runtime_90323.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Use generated version files instead of different defines
  src/coreclr/runtime.proj
  src/native/corehost/apphost/apphost.windows.cpp
  src/native/corehost/common.cmake
  src/native/corehost/corehost.cpp
  src/native/corehost/corehost.proj
  src/native/corehost/fxr/command_line.cpp
  src/native/corehost/fxr/hostfxr.cpp
  src/native/corehost/fxr_resolver.cpp
  src/native/corehost/hostmisc/utils.cpp
  src/native/corehost/hostmisc/utils.h
  src/native/corehost/hostpolicy/hostpolicy.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
  src/native/corehost/setup.cmake
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Remove host version arguments and defines from scripts
  src/native/corehost/build.cmd
  src/native/corehost/build.sh
  src/native/corehost/corehost.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Flow the IMeterFactory to SocketsHttpHandler on Mobile (#90298)
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Remove unsafe code and make scheme parsing faster in Uri (#90087)
  src/libraries/System.Private.Uri/src/System/DomainNameHelper.cs
  src/libraries/System.Private.Uri/src/System/Uri.cs
  src/libraries/System.Private.Uri/src/System/UriHelper.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

build goop
  src/libraries/System.Threading.RateLimiting/src/System.Threading.RateLimiting.csproj
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[mono][llvm] Use the OP_MEMMOVE opcode instead of calling the managed memcpy method when compiling with LLVM. (#90097)
  src/mono/mono/mini/memory-access.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[mono][llvm] Fix an assertion when a method doesn't set its return value vreg. (#90294)
  src/mono/mono/mini/mini-llvm.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[iOS] Fix iOS nativeaot runtime test build
  src/mono/msbuild/android/build/AndroidBuild.props
  src/mono/msbuild/apple/build/AppleBuild.props
  src/tests/build.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Check IsInstructionSetOptimisticallySupported in ShouldCodeNotBeCompiledIntoFinalImage
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update NativeRuntimeLevelKeywords.cs
  src/tests/tracing/runtimeeventsource/NativeRuntimeLevelKeywords.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable CodeQL on runtime-official.yml
  eng/pipelines/runtime-official.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add support fo MONO_DEBUG_VAR_ADDRESS_MODE_VTADDR in set_var for debugger-agent
  src/mono/mono/component/debugger-agent.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable CodeQL on runtime-official.yml (#90329)
  eng/pipelines/runtime-official.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Use PackageDownload not PackageReference for JitTools in SuperFileCheck.csproj
  src/coreclr/tools/SuperFileCheck/SuperFileCheck.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix perf jobs param (#90215)
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/perf_slow.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Improve codegen in impStringEqualsOrStartsWith (#90288)
  src/coreclr/jit/importervectorization.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Report a diagnostic for return types with HResult-like named structures and provide a code-fix to do the correct marshalling (#90282)
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/AddMarshalAsToElementFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ConvertComImportToGeneratedComInterfaceFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGeneratorHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Marshallers/StructAsHResultMarshallerFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/ConvertToSourceGeneratedInteropFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/GeneratorDiagnosticsBag.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshalAsMarshallingGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/PreserveSigTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/AddMarshalAsToElementTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ConvertToGeneratedComInterfaceTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/ComInterfaceGenerator/GetPoint.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IPointProvider.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Align reads in `char` `IndexOfAny`.
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Packed.cs
Due: eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix NoLinkedOuput having the wrong base attribute type. (#90256)
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/NoLinkedOutputAttribute.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml
