Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/src/jit
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/src/inc/corinfo.h
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, eng/pipelines/*.*, CODE-OF-CONDUCT.md, CONTRIBUTING.md, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

[wasm] Disable `System.Diagnostics.Tests.ActivityTests.IdGenerationInternalParent`
  src/libraries/System.Diagnostics.DiagnosticSource/tests/TestWithConfigSwitches/ActivityTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Address the feedback
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

[mono] Set thread suspend default in mono.proj; default to hybrid
  src/mono/CMakeLists.txt
  src/mono/mono.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Update metadata-update.c
  src/mono/mono/metadata/metadata-update.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix Ilasm Round Trip script by adding retry logic (#46765)
  src/tests/Common/CLRTest.Jit.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Adding support for Math/MathF.SinCos (#46551)
  src/coreclr/System.Private.CoreLib/src/System/Math.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/MathF.CoreCLR.cs
  src/coreclr/classlibnative/float/floatdouble.cpp
  src/coreclr/classlibnative/float/floatsingle.cpp
  src/coreclr/classlibnative/inc/floatdouble.h
  src/coreclr/classlibnative/inc/floatsingle.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/cruntime/math.cpp
  src/coreclr/pal/src/include/pal/palinternal.h
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/c_runtime/sincos/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/sincosf/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/compilableTests.txt
  src/coreclr/pal/tests/palsuite/paltestlist.txt
  src/coreclr/vm/ecalllist.h
  src/libraries/System.Runtime.Extensions/tests/System/Math.cs
  src/libraries/System.Runtime.Extensions/tests/System/MathF.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Math.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/MathF.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Move abbrev fields to TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Specify a GUID for the IL SDK and expose it to slngen
  src/coreclr/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Bump xharness and non-AOT wasm should work for both browser and console
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/testing/ILLink.Descriptor.xunit.xml
  eng/testing/WasmRunnerTemplate.sh
  eng/testing/tests.mobile.targets
  eng/testing/tests.targets
  src/tests/FunctionalTests/wasm/AOT/console/Program.cs
  src/tests/FunctionalTests/wasm/AOT/console/Wasm.Aot.Console.Test.csproj
  src/tests/FunctionalTests/wasm/Interpreter/browser/Wasm.Interpreter.Browser.Test.csproj
  src/tests/FunctionalTests/wasm/Interpreter/console/Program.cs
  src/tests/FunctionalTests/wasm/Interpreter/console/Wasm.Interpreter.Console.Test.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Update slngen.targets
  eng/slngen.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Add dependsOn to global-build-job
  eng/pipelines/common/global-build-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Publish hostfxr static library. (#46787)
  src/installer/corehost/cli/fxr/standalone/CMakeLists.txt
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/Microsoft.NETCore.DotNetAppHost.pkgproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix MS.NETCore.App.Bundle on osx-arm64
  src/installer/pkg/sfx/bundle/Microsoft.NETCore.App.Bundle.bundleproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Update Microsoft.NET.Sdk.IL.targets
  src/coreclr/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Revert "Add dependsOn to global-build-job"
  eng/pipelines/common/global-build-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Use build-job directly, going via global-build-job is too hard
  eng/pipelines/runtime-official.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Add RequiresAssemblyFilesAttribute (#46824)
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/RequiresAssemblyFilesAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Diagnostics/CodeAnalysis/RequiresAssemblyFilesAttributeTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Optimize Activity Ids
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix 32-bit platform handling of CORINFO_SIG_INST
  src/coreclr/ToolBox/superpmi/superpmi-shared/agnostic.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/callutils.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/compileresult.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/crlwmlist.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmirecordhelper.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Remove duplicate types
  src/coreclr/ToolBox/superpmi/superpmi-shared/agnostic.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/compileresult.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/crlwmlist.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Convert CompileResult to use common CORINFO_SIG_INFO functions
  src/coreclr/ToolBox/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/compileresult.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/crlwmlist.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Change JIT/EE GUID
  src/coreclr/inc/jiteeversionguid.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

update branding to 5.0.3
  eng/Versions.props
  src/libraries/libraries-packages.proj
  src/libraries/pkg/baseline/packageIndex.json
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

[wasm] Simplify, and refactor `WasmApp.targets`, and wasm projects (#46772)
  eng/testing/tests.mobile.targets
  src/mono/netcore/sample/wasm/Directory.Build.props
  src/mono/netcore/sample/wasm/Directory.Build.targets
  src/mono/netcore/sample/wasm/browser/Makefile
  src/mono/netcore/sample/wasm/browser/Wasm.Browser.Sample.csproj
  src/mono/netcore/sample/wasm/console/Makefile
  src/mono/netcore/sample/wasm/console/Wasm.Console.Sample.csproj
  src/mono/wasm/Makefile
  src/mono/wasm/build/README.md
  src/mono/wasm/build/WasmApp.InTree.props
  src/mono/wasm/build/WasmApp.InTree.targets
  src/mono/wasm/build/WasmApp.props
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/debugger/tests/Directory.Build.props
  src/mono/wasm/debugger/tests/Directory.Build.targets
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tests/Common/Directory.Build.targets
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
  src/tests/Directory.Build.targets
  src/tests/FunctionalTests/wasm/AOT/browser/Wasm.Aot.Browser.Test.csproj
  src/tests/FunctionalTests/wasm/AOT/browser/index.html
  src/tests/FunctionalTests/wasm/AOT/console/Wasm.Aot.Console.Test.csproj
  src/tests/FunctionalTests/wasm/Directory.Build.props
  src/tests/FunctionalTests/wasm/Directory.Build.targets
  src/tests/FunctionalTests/wasm/Interpreter/browser/Wasm.Interpreter.Browser.Test.csproj
  src/tests/FunctionalTests/wasm/Interpreter/browser/index.html
  src/tests/FunctionalTests/wasm/Interpreter/console/Wasm.Interpreter.Console.Test.csproj
  src/tests/FunctionalTests/wasm/common.props
  src/tests/FunctionalTests/wasm/common.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Implement System.Runtime.InteropServices.CLong/CULong/NFloat (#46401)
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/vm/dllimportcallback.cpp
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CLong.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CULong.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NFloat.cs
  src/libraries/System.Runtime.InteropServices/System.Runtime.InteropServices.sln
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/CLongTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/CULongTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/NFloatTests.cs
  src/tests/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallNative.cpp
  src/tests/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallTest.cs
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq.cs
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  src/tests/Interop/StructMarshalling/PInvoke/Struct.cs
  src/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

[wasm] Disable `System.Diagnostics.Tests.ActivityTests.IdGenerationInternalParent` (#46875)
  src/libraries/System.Diagnostics.DiagnosticSource/tests/TestWithConfigSwitches/ActivityTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix profiler test
  src/tests/profiler/native/eventpipeprofiler/eventpipewritingprofiler.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

[wasm] If standard, or daylight names are not available, then fallback
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.GetDisplayName.Invariant.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.GetDisplayName.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Use stackalloc in RSAPkcs1X509SignatureGenerator.BuildPublicKey
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/RSAPkcs1X509SignatureGenerator.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Enable AOT Profiler and included option in wasm browser sample
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/mono/netcore/sample/wasm/browser/Makefile
  src/mono/netcore/sample/wasm/browser/Program.cs
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser/index.html
  src/mono/netcore/sample/wasm/browser/runtime.js
  src/mono/wasm/runtime/library_mono.js
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

PR feedback remove reference to Interop library, add profiler option to MonoAOTProfiler
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Runtime.cs
  src/mono/netcore/sample/wasm/browser-profile/Makefile
  src/mono/netcore/sample/wasm/browser-profile/Program.cs
  src/mono/netcore/sample/wasm/browser-profile/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser-profile/index.html
  src/mono/netcore/sample/wasm/browser-profile/runtime.js
  src/mono/netcore/sample/wasm/browser-profile/server.py
  src/mono/netcore/sample/wasm/browser/Makefile
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser/index.html
  src/mono/wasm/runtime/library_mono.js
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

PR feedback: remove server.py and replace with dotnet-serve
  src/mono/netcore/sample/wasm/browser-profile/Makefile
  src/mono/netcore/sample/wasm/browser-profile/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser-profile/server.py
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

remove comments from WasmSample.csproj
  src/mono/netcore/sample/wasm/browser-profile/WasmSample.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Revert "Partial rollback of #46244 to workaround #46389 (#46390)"
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

first to dlopen libssl wins
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.c
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Add Wasm AOT steps into WasmApp.targets (#46081)
  Directory.Build.targets
  eng/testing/tests.mobile.targets
  src/mono/netcore/sample/wasm/browser-profile/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/wasm/build/WasmApp.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Small PoliCheck fix (#46876)
  src/mono/mono/metadata/metadata-update.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

fix profiler to run in non-AOT mode, style fixes
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/mono/netcore/sample/wasm/browser-profile/Makefile
  src/mono/netcore/sample/wasm/browser-profile/Program.cs
  src/mono/netcore/sample/wasm/browser-profile/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser-profile/index.html
  src/mono/netcore/sample/wasm/browser-profile/runtime.js
  src/mono/wasm/Makefile
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/driver.c
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

clean up Makefile and driver.c
  src/mono/netcore/sample/wasm/browser-profile/Makefile
  src/mono/wasm/runtime/driver.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

validate params add helix target
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/mono/netcore/sample/wasm/browser-profile/Makefile
  src/mono/netcore/sample/wasm/browser-profile/WasmSample.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml
