Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

eng/pipelines/coreclr/ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
  ...

eng/pipelines/coreclr/perf.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - Linux_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/global-build.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/global-build-job.yml
      buildConfig: release
      platforms:
      - Windows_NT_x86
      - OSX_x64
      jobParameters:
  ...

eng/pipelines/installer/azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix-multijob.yml
    parameters:
      platforms:
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
  ...

eng/pipelines/libraries/.azure-ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - OSX_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/libraries/enterprise/linux.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose build
  
      '
    displayName: Build test machine images
    env:
      DOTNET_RUNTIME_REPO_ROOT: $(Build.SourcesDirectory)
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose up -d
  
      '
  ...

eng/pipelines/runtime-official.yml:
  stages:
  - stage: Build
    jobs:
    - template: /eng/pipelines/common/checkout-job.yml
    - template: /eng/pipelines/common/platform-matrix.yml
      parameters:
        jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
        buildConfig: release
        platforms:
        - osx_x64
        - linux_x64
  ...

swtich to a single epoll thread by default
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove duplicate tests from System.Linq.Parallel.Tests
  src/libraries/System.Linq.Parallel/tests/ParallelEnumerableTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

make cbor production classes public
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborTag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove duplicate tests from System.Linq.Tests
  src/libraries/System.Linq/tests/ToArrayTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Switch from 'llvm' boolean to 'runtimeVariant' freeform string in yaml
  eng/pipelines/installer/installer-matrix.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/mono/templates/xplat-pipeline-job.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

code review fixes
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix test failing in release mode
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/tests/Serialization/CustomConverterTests/CustomConverterTests.HandleNull.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add an LLVM suffix to installer nupkgs
  eng/pipelines/installer/jobs/base-job.yml
  src/installer/pkg/projects/Directory.Build.targets
Due: eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove duplicate tests from System.IO.FileSystem.Tests
  src/libraries/System.IO.FileSystem/tests/FileInfo/Open.cs
  src/libraries/System.IO.FileSystem/tests/TestData.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Got rid of double quotes, added interpreter to TestRunNamePrefix
  eng/pipelines/runtime.yml
  src/coreclr/tests/helixpublishwitharcade.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fixed typo.
  src/coreclr/tests/helixpublishwitharcade.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix up yaml dependencies.
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossgen-comparison-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/build-test-job.yml
  eng/pipelines/libraries/run-test-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Disable NonDisposedSocket_SafeHandlesCollected test
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix another dependency
  eng/pipelines/coreclr/templates/perf-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Removing hardcoded include path. Fixing android compilation.
  src/mono/configure.ac
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Disable preEnumerateTheories for running tests (#35837)
  eng/testing/xunit/xunit.runner.json
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove duplicate tests from System.Linq.Parallel.Tests (#35838)
  src/libraries/System.Linq.Parallel/tests/ParallelEnumerableTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fixing what was suggested by @safern
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Resolve runtimeVariant variable properly
  eng/pipelines/mono/templates/build-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Migrate CBOR classes to System.Formats.Cbor namespace (#35808)
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Helpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborRoundtripTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Helpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborInitialByte.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborTag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/System.Formats.Cbor.Shared.projitems
  src/libraries/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Enable more formerly-failing-on-mono tests.
  src/coreclr/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Moving to use PlatformSpecific attribute and fixing skipping on platforms that don't have libldap installed
  src/libraries/System.DirectoryServices.Protocols/tests/AsqRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/BerConverterTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirSyncRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesTestHelpers.cs
  src/libraries/System.DirectoryServices.Protocols/tests/ExtendedDNControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapConnectionTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapSessionOptionsTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/PageResultRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/QuotaControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SearchOptionsControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SecurityDescriptorFlagControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SortRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/System.DirectoryServices.Protocols.Tests.csproj
  src/libraries/System.DirectoryServices.Protocols/tests/VerifyNameControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/VlvRequestControlTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fixup
  eng/pipelines/mono/templates/xplat-pipeline-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add required return in the test
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_35821/GitHub_35821.il
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

UnmanagedCallersOnlyAttribute in load_assembly_and_get_function_pointer (#35763)
  src/coreclr/src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/src/vm/comdelegate.cpp
  src/coreclr/src/vm/comdelegate.h
  src/coreclr/src/vm/corhost.cpp
  src/coreclr/src/vm/dllimportcallback.cpp
  src/coreclr/src/vm/dllimportcallback.h
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/vm/runtimehandles.cpp
  src/installer/corehost/cli/coreclr_delegates.h
  src/installer/corehost/cli/test/nativehost/host_context_test.cpp
  src/installer/test/Assets/TestProjects/ComponentWithNoDependencies/Component.cs
  src/installer/test/HostActivation.Tests/NativeHosting/ComponentActivation.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Reduce unnecessary Regex match attempts for expressions beginning with atomic loops (#35824)
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexReductionTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix linux build
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[mono] Reintroduce an internal Marshal method used by the runtime
  src/coreclr/tests/issues.targets
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Enable some more tests on Mono, to diagnose test running on CI
  src/coreclr/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update linker manifest
  src/mono/netcore/System.Private.CoreLib/src/LinkerDescriptor/System.Private.CoreLib.xml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Revert "Enable some more tests on Mono, to diagnose test running on CI"
  src/coreclr/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Feedback
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Changing what was suggested by safern
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c
  src/libraries/System.Globalization/tests/IcuTests.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Unix.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Changing what was suggested by safern
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Unix.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Tweak runtime artifact download name
  eng/pipelines/libraries/base-job.yml
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

some CR feedback
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MethodDesc.ToString.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MethodDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/TypeSystemHelpers.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fixing what safern explained.
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Added white space.
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Removed white space.
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
