Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/ilasm.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/jitstress-isas-sve.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-collect.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/performance/runtime-wasm-perf.yml, eng/pipelines/report-green.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-ioslike.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/hardware-intrinsics.yml: any of: eng/pipelines, src/coreclr/jit, src/tests/Common/GenerateHWIntrinsicTests, src/tests/JIT/HardwareIntrinsics
  eng/pipelines/coreclr/ilasm.yml: any of: src/coreclr/ilasm, src/coreclr/ildasm
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/jitstress-isas-sve.yml: any of: src/coreclr/jit/hwintrinsiccodegenarm64.cpp, src/coreclr/jit/hwintrinsiclistarm64sve.h, src/coreclr/jit/hwintrinsicarm64.cpp, src/coreclr/jit/instrsarm64sve.h, src/coreclr/jit/emitarm64sve.cpp, src/coreclr/jit/emitfmtsarm64sve.h, src/coreclr/jit/lsraarm64.cpp
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/perf_slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/superpmi-collect.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi-diffs.yml: any of: src/coreclr/jit
  eng/pipelines/coreclr/superpmi-replay.yml: any of: src/coreclr/jit/lsra*.*
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, eng/pipelines/global-build.yml, but not: **.md, .devcontainer, .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/native/libs/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/performance/perf-build.yml: any of: *, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/perf-slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/performance/runtime-wasm-perf.yml: any of: eng/pipelines/performance, eng/testing/performance, eng/testing/BrowserVersions.props
  eng/pipelines/report-green.yml: any of: docs, **/*.md, **/*.txt, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT, CODE-OF-CONDUCT.md, CONTRIBUTING.md, README.md, SECURITY.md, PATENTS.TXT
  eng/pipelines/runtime-analyzers-linker.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-cet.yml: any of: *, but not: **/*.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-community.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-diagnostics.yml: any of: eng/pipelines, src/native/managed/cdac, src/coreclr/debug/runtimeinfo
  eng/pipelines/runtime-extra-platforms.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-ioslike.yml: any of: src/mono/mono/mini/aot-*.*, src/mono/mono/mini/llvm-*.*, src/mono/mono/mini/mini-llvm-*.*, src/mono/mono/mini/intrinsics.c, src/mono/mono/mini/simd-*.*, src/mono/mono/mini/decompose.c, src/mono/mono/mini/method-to-ir.c, src/mono/mono/mini/mini.c
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, eng/pipelines/coreclr/perf*yml, eng/pipelines/coreclr/templates/build-perf*, eng/pipelines/coreclr/templates/perf-job.yml, eng/pipelines/coreclr/templates/run-perf*, eng/testing/performance
  eng/pipelines/runtime-llvm.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-llvmfullaot.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT, eng/pipelines/performance, eng/testing/performance
  eng/pipelines/runtimelab-official.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/vmr-build-pr.yml: any of: *, eng/pipelines/global-build.yml, but not: **.md, .devcontainer, .github, docs, src/mono, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT

Checkpoint call/helper call infrastructure
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenwasm.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitfmtswasm.h
  src/coreclr/jit/emitwasm.cpp
  src/coreclr/jit/emitwasm.h
  src/coreclr/jit/instrswasm.h
  src/coreclr/jit/lower.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Replace GTF_DONT_CSE with GTF_ADDRMODE_NO_CSE for GT_CAST in addressing modes
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/optcse.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Convert BlazorWebWasm solution file to new format (#123287)
  src/mono/wasm/testassets/BlazorWebWasm/BlazorWebWasm.sln
  src/mono/wasm/testassets/BlazorWebWasm/BlazorWebWasm.slnx
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

config
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/apache2.conf
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Use unoptimized array sort helper on iOS (#123358)
  src/coreclr/System.Private.CoreLib/src/System/Collections/Generic/ArraySortHelper.CoreCLR.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Added method for vectorized adler32, and moved the normal adler32 calc to UpdateScalar(). Also added optional spot where ARM intrinsics can be used in UpdateScalar if vectorization is not possible.
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Adler32.Vectorized.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Adler32.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

update EnterpriseTests containers
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/apache2.conf
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/mod_auth_ntlm_winbind/README
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/mod_auth_ntlm_winbind/mod_auth_ntlm_winbind.c
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/run.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/linuxclient/Dockerfile
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

comment
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/Dockerfile
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Added functions for Avx2 and Sse Scalar implementations.
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Adler32.Avx2Sse.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Adler32.Vectorized.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Adler32.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Reapply "Bring a few jithelpers to new unwind plan" (#123696)
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/pal/inc/unixasmmacrosloongarch64.inc
  src/coreclr/pal/inc/unixasmmacrosriscv64.inc
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/AsmMacros.inc
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/arm64/asmmacros.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exceptmacros.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/loongarch64/asmconstants.h
  src/coreclr/vm/loongarch64/asmhelpers.S
  src/coreclr/vm/riscv64/asmconstants.h
  src/coreclr/vm/riscv64/asmhelpers.S
  src/coreclr/vm/threads.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Try bringing x64 on the same plan
  src/coreclr/jit/compiler.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/jithelpers.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Use patchpointinfo for OSR on non-xarch ISAs
  src/coreclr/inc/patchpointinfo.h
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/jithelpers.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

proftpd.conf
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/proftpd.conf
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

SPMI: Fix aligned allocation size computation
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Copilot feedback
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

add maximum boundary check for memorystream capacity
  src/libraries/System.Private.CoreLib/src/System/IO/MemoryStream.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

[browser][MonoAOT] use response file for llvm-size (#123548)
  src/mono/browser/build/BrowserWasmApp.targets
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasm/build/WasmApp.Common.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

[browser][wbt] Remove wasm platform from test app slnx
  src/mono/wasm/testassets/BlazorWebWasm/BlazorWebWasm.slnx
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Propagate ValueSize throughout value numbering and SSA building
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/simd.h
  src/coreclr/jit/ssabuilder.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Extend timeout for NativeAOT test configurations
  eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-diagnostics.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

SPMI: Fix aligned allocation size computation (#123707)
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Add Emscripten version validation to WASM tryrun cache
  eng/native/configurecompiler.cmake
  eng/native/tryrun.wasm.cmake
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Update CIL.g4
  src/tools/ilasm/src/ILAssembler/CIL.g4
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Refactor VisitEsHead method to throw exception
  src/tools/ilasm/src/ILAssembler/GrammarVisitor.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Add coverlet.collector package reference
  src/tools/ilasm/tests/ILAssembler.Tests/ILAssembler.Tests.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

[browser][wbt] Remove wasm platform from test app slnx (#123710)
  src/mono/wasm/testassets/BlazorWebWasm/BlazorWebWasm.slnx
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml

Fix wrong eflags and ssp on OSR transitions
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/jithelpers.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Add interpreter stub epilog transition for P/Invokes with SwiftError
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/callstubgenerator.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Replace deprecated wmic with MSBuild parallelism properties (#122386)
  Directory.Build.props
  src/coreclr/Directory.Build.props
  src/coreclr/build-runtime.cmd
  src/tests/build.cmd
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Update src/coreclr/vm/callstubgenerator.cpp
  src/coreclr/vm/callstubgenerator.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Update src/coreclr/vm/callstubgenerator.h
  src/coreclr/vm/callstubgenerator.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Revert windows-related changes
  src/coreclr/vm/arm64/asmhelpers.asm
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

Refactor swiftLoweringInfo to use CQuickArray
  src/coreclr/vm/callstubgenerator.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

[RISC-V] Enhance the utilization of sh1/2/3add(.uw) instructions (#122088)
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/optcse.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/hardware-intrinsics.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml

[release/11.0-preview1] Revert "Bring a few jithelpers to new unwind plan (#123307)"
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/pal/inc/unixasmmacrosloongarch64.inc
  src/coreclr/pal/inc/unixasmmacrosriscv64.inc
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/AsmMacros.inc
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/arm64/asmmacros.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exceptmacros.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/loongarch64/asmconstants.h
  src/coreclr/vm/loongarch64/asmhelpers.S
  src/coreclr/vm/riscv64/asmconstants.h
  src/coreclr/vm/riscv64/asmhelpers.S
  src/coreclr/vm/threads.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml, eng/pipelines/global-build.yml, eng/pipelines/performance/perf-build.yml, eng/pipelines/performance/perf-slow.yml, eng/pipelines/performance/perf.yml, eng/pipelines/runtime-analyzers-linker.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-extra-platforms.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvm.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab-official.yml, eng/pipelines/runtimelab.yml, eng/pipelines/vmr-build-pr.yml
