Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

eng/pipelines/coreclr/ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
  ...

eng/pipelines/coreclr/jitrollingbuild.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-jit-job.yml
      buildConfig: checked
      platforms:
      - OSX_x64
      - Linux_x64
      - Windows_NT_x64
  ...

eng/pipelines/coreclr/perf.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/build-coreclr-and-libraries-job.yml
      buildConfig: release
      platforms:
      - Linux_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/global-build.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/global-build-job.yml
      buildConfig: release
      platforms:
      - Windows_NT_x86
      - OSX_x64
      jobParameters:
  ...

eng/pipelines/installer/azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix-multijob.yml
    parameters:
      platforms:
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
  ...

eng/pipelines/libraries/.azure-ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - OSX_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/libraries/enterprise/linux.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose build
  
      '
    displayName: Build test machine images
    env:
      DOTNET_RUNTIME_REPO_ROOT: $(Build.SourcesDirectory)
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose up -d
  
      '
  ...

Small fix for console trace
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Tracing/TextWriterTrace.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Trivial check if we are application or flow-control limited
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Recovery/NewRenoCongestionController.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Recovery/RecoveryController.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/ManagedQuicConnection.Frames.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Fixed freezing due to a race condition
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/ManagedQuicConnection.Stream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/StreamCollection.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Renamed ConnectionContext into QuicConnectionContext
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Sockets/ConnectionContext.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Sockets/QuicConnectionContext.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Sockets/QuicServerSocketContext.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Sockets/QuicSocketContext.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/Internal/Sockets/SingleConnectionSocketContext.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Managed/ManagedQuicConnection.cs
  src/libraries/System.Net.Quic/tests/UnitTests/ManualTransmissionQuicTestBase.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Try a different attribute for disabling stream conformance tests on browser (#44218)
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Fix the OS check
  src/coreclr/scripts/superpmi.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Fix compilation after rebase
  src/libraries/System.Net.Quic/tests/FunctionalTests/System.Net.Quic.Functional.Tests.csproj
  src/libraries/System.Net.Quic/tests/UnitTests/StreamTests.cs
  src/libraries/System.Net.Quic/tests/UnitTests/System.Net.Quic.Unit.Tests.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add wiggle room to MonitoringIsEnabled test
  src/libraries/System.Runtime.Extensions/tests/System/AppDomainTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Check that we don't create null checks on an address that is not null. (#44059)
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/importer.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Remove MNADeprecationWorkaround in host test assets
  src/installer/tests/Assets/TestProjects/AppWithSubDirs/Directory.Build.props
  src/installer/tests/Assets/TestProjects/AppWithWait/Directory.Build.props
  src/installer/tests/Assets/TestProjects/SingleFileApiTests/Directory.Build.props
  src/installer/tests/Assets/TestProjects/StandaloneApp20/Directory.Build.props
  src/installer/tests/Assets/TestProjects/StandaloneApp21/Directory.Build.props
  src/installer/tests/Assets/TestProjects/StandaloneApp3x/Directory.Build.props
  src/installer/tests/Assets/TestUtils/MNADeprecationWorkaround.props
  src/installer/tests/Assets/TestUtils/TestProjects.props
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add assert to SharedPerformanceCounter to debug test failures in CI
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/SharedPerformanceCounter.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Update src/coreclr/src/System.Private.CoreLib/src/System/StartupHookProvider.cs
  src/coreclr/src/System.Private.CoreLib/src/System/StartupHookProvider.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Change 'windows' -> 'Windows_NT'
  eng/pipelines/common/templates/runtimes/send-to-helix-inner-step.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

[interp] Reinitialize error in a few places (#44188)
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Remove the old mono timezone icall implementation from driver.c (#44171)
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/library_mono.js
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Use ridless PNSE configurations where applicable
  src/libraries/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/libraries/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add a PNSE configuration for System.Net.Quic (#44223)
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/Resources/Strings.resx
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Exclude test from OSX
  src/libraries/System.IO.FileSystem/tests/FileStream/LockUnlock.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add wiggle room to MonitoringIsEnabled test (#44228)
  src/libraries/System.Runtime.Extensions/tests/System/AppDomainTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add assert to SharedPerformanceCounter to debug test failures in CI (#44225)
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/SharedPerformanceCounter.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add stream conformance tests for SocketsHttpHandler HTTP/1.1 streams
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FileStreamConformanceTests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStreamConformanceTests.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsTests.cs
  src/libraries/System.IO/tests/BufferedStream/BufferedStreamConnectedConformanceTests.cs
  src/libraries/System.IO/tests/MemoryStream/MemoryStreamTests.cs
  src/libraries/System.IO/tests/Stream/SyncStreamConformanceTests.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/RawConnectionStreamTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ResponseStreamConformanceTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Address PR feedback
  src/libraries/System.Net.Http/tests/FunctionalTests/ResponseStreamConformanceTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add RemoteExecutor.IsSupported condition to tests
  src/libraries/System.IO.FileSystem/tests/FileStream/LockUnlock.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Tolerate missing tests (#44168)
  src/tests/run.py
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Code review feedback
  src/tests/issues.targets
  src/tests/r2rdump/R2RDumpTester.cs
  src/tests/r2rdump/R2RDumpTests.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Bootstrapping a test for R2RDump
  src/tests/Common/Directory.Build.targets
  src/tests/r2rdump/R2RDumpTester.cs
  src/tests/r2rdump/R2RDumpTests.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Allow embedded nulls in the result of mono_wasm_invoke_js ().
  src/mono/wasm/runtime/driver.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Wasm async entrypoint (#44045)
  src/mono/netcore/sample/wasm/console/Program.cs
  src/mono/wasm/runtime-test.js
  src/mono/wasm/runtime/driver.c
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Fix inject_debug_resources target
  src/coreclr/src/dlls/mscoree/coreclr/CMakeLists.txt
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

[interp] Simplify GetRawData (#44217)
  src/mono/mono/mini/interp/transform.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Doubly linked freelist fixes (#43636)
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcpriv.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Reenable dllmap for iOS/Android
  src/mono/CMakeLists.txt
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

refactor WIP
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add 'condition: always()' to Disk Usage after Build (#44209)
  eng/pipelines/common/global-build-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Socket.Tests: remove TestSettings.UDPRedundancy (#44202)
  src/libraries/Common/tests/System/Net/Sockets/TestSettings.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/IPPacketInformationTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFromAsync.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SelectAndPollTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/UdpClientTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Fix: NetworkStream throwing inconsistent exceptions (#40772)
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

simplify catch-rethrow logic in NetworkStream
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Reenable dllmap for iOS/Android (#44243)
  src/mono/CMakeLists.txt
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add stream conformance tests for SocketsHttpHandler HTTP/1.1 streams (#44204)
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FileStreamConformanceTests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStreamConformanceTests.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsTests.cs
  src/libraries/System.IO/tests/BufferedStream/BufferedStreamConnectedConformanceTests.cs
  src/libraries/System.IO/tests/MemoryStream/MemoryStreamTests.cs
  src/libraries/System.IO/tests/Stream/SyncStreamConformanceTests.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/RawConnectionStreamTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ResponseStreamConformanceTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/src/jit
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, eng/pipelines/*.*, CODE-OF-CONDUCT.md, CONTRIBUTING.md, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
