Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

eng/pipelines/coreclr/ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
  ...

eng/pipelines/coreclr/perf.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/build-coreclr-and-libraries-job.yml
      buildConfig: release
      platforms:
      - Linux_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/global-build.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/global-build-job.yml
      buildConfig: release
      platforms:
      - Windows_NT_x86
      - OSX_x64
      jobParameters:
  ...

eng/pipelines/installer/azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix-multijob.yml
    parameters:
      platforms:
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
  ...

eng/pipelines/libraries/.azure-ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - OSX_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/libraries/enterprise/linux.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose build
  
      '
    displayName: Build test machine images
    env:
      DOTNET_RUNTIME_REPO_ROOT: $(Build.SourcesDirectory)
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose up -d
  
      '
  ...

eng/pipelines/runtime-official.yml:
  stages:
  - stage: Build
    jobs:
    - template: /eng/pipelines/common/platform-matrix.yml
      parameters:
        jobTemplate: /eng/pipelines/common/global-build-job.yml
        buildConfig: checked
        platforms:
        - OSX_x64

eng/pipelines/runtime.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/global-build-job.yml
      buildConfig: checked
      platforms:
      - OSX_x64

Revert "Fix warning"
  src/mono/mono/utils/lifo-semaphore.c
  src/mono/mono/utils/lifo-semaphore.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Revert "Braces around subobject of initialization warning fix"
  src/mono/mono/utils/lifo-semaphore.c
  src/mono/mono/utils/lifo-semaphore.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Updated for refactoring.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Disable EventLog test on all targets (#32403)
  src/libraries/System.Diagnostics.EventLog/tests/EventLogTests/EventLogSourceCreationTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Define FEATURE_PROFAPI_ATTACH_DETACH always (#32293)
  src/coreclr/clrdefinitions.cmake
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Allow TimeSpan to correctly roundtrip
  src/libraries/System.Private.CoreLib/src/System/TimeSpan.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Simplify to use NOT operator instead of comparing to false. (#32398)
  src/coreclr/src/md/compiler/filtermanager.cpp
  src/coreclr/src/pal/src/locale/utf8.cpp
  src/coreclr/src/vm/appdomain.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update TimeSpanTests to check for roundtrip
  src/libraries/System.Runtime/tests/System/TimeSpanTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add failing test
  src/libraries/System.Text.Json/tests/Serialization/WriteValueTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Initial implementation. Still needs to throw the appropriated Exception
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
  src/libraries/System.Text.Json/tests/Serialization/WriteValueTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Validate new buffer size against MaxByteArrayLength
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Change to make assembly smaller and reduce a extra check in the common case
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Name conventions OuterLoop Make the test simpler
  src/libraries/System.Text.Json/tests/Serialization/WriteValueTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[interp] Fix incorrect comment -- stackval has no size.
  src/mono/mono/mini/interp/interp-internals.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

further tuning the type check for enums
  src/coreclr/src/vm/interpreter.cpp
  src/coreclr/src/vm/jithelpers.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

GC polling in unboxing JIT helpers (#32353)
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/src/inc/jithelpers.h
  src/coreclr/src/vm/ecall.cpp
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/interpreter.cpp
  src/coreclr/src/vm/jithelpers.cpp
  src/coreclr/src/vm/jitinterface.h
  src/coreclr/src/vm/metasig.h
  src/coreclr/src/vm/methodtable.h
  src/coreclr/src/vm/mscorlib.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix an assert error in crossgen2 on ARM
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove dead Uri code
  src/libraries/System.Private.Uri/src/System/DomainNameHelper.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Initial API changes
  src/libraries/Common/src/Internal/Cryptography/HashProvider.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HMACCommon.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/IncrementalHash.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Simplify and remove char[] allocation from AsnFormatter.EncodeHexString
  src/libraries/Common/src/System/Security/Cryptography/Asn1/DirectoryStringAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/GeneralNameAsn.xml.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/AsnFormatter.OSX.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/AsnFormatter.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OpenSslAsnFormatter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Use double.Parse on span instead of string in Unix ping
  src/libraries/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix an assert error in crossgen2 on ARM (#32421)
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Use double.Parse on span instead of string in Unix ping (#32423)
  src/libraries/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix IsArgPassedByRef in crossgen2 on ARM32
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix https://github.com/mono/mono/issues/18827, circumstantially.
  src/mono/configure.ac
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/tests/Makefile.am
  src/mono/mono/utils/mono-tls-inline.h
  src/mono/mono/utils/mono-tls.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Improve assembly size Run test on 64 bits only
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
  src/libraries/System.Text.Json/tests/Serialization/WriteValueTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

PR feedback
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcpriv.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

reverted a test-only changes
  src/coreclr/src/gc/gc.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Move much of mono-tls.h to mono-tls-inline.h.
  src/mono/mono/utils/mono-tls-inline.h
  src/mono/mono/utils/mono-tls.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Publish (bin)logs as pipeline artifacts (#2345)
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/build-test-job.yml
  eng/pipelines/coreclr/templates/crossgen-comparison-job.yml
  eng/pipelines/coreclr/templates/run-test-job.yml
  eng/pipelines/installer/jobs/steps/upload-job-artifacts.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update Build Script Help Content (#2046)
  eng/build.ps1
  eng/build.sh
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[interp] Step toward consolidation of non-recursive call sites. (#32306)
  src/mono/mono/mini/interp/interp.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove unnecessary ifdef before undef.
  src/mono/winconfig.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[interp] Step toward consolidating nonrecursive call sites (retval).
  src/mono/mono/mini/interp/interp.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[mono] Fix msvc mono build and add `CopyMonoRuntimeFilesFromArtifactsToDestination` target (#32130)
  src/mono/mono.proj
  src/mono/msvc/mono.props
  src/mono/netcore/Makefile
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Bump JitInterface guid
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/tools/crossgen2/jitinterface/jitwrapper.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Formatting
  src/coreclr/src/jit/gentree.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add PreserveDependency to StackFrameHelper
  src/coreclr/src/System.Private.CoreLib/src/System/Diagnostics/StackFrameHelper.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove unnecessary ILLinkTrim.xml
  src/libraries/System.Diagnostics.StackTrace/src/ILLinkTrim.xml
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
