Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

eng/pipelines/coreclr/ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
  ...

eng/pipelines/coreclr/jitrollingbuild.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-jit-job.yml
      buildConfig: checked
      platforms:
      - OSX_x64
      - Linux_x64
      - Windows_NT_x64
  ...

eng/pipelines/coreclr/perf.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/build-coreclr-and-libraries-job.yml
      buildConfig: release
      platforms:
      - Linux_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/global-build.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/global-build-job.yml
      buildConfig: release
      platforms:
      - Windows_NT_x86
      - OSX_x64
      jobParameters:
  ...

eng/pipelines/installer/azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix-multijob.yml
    parameters:
      platforms:
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
  ...

eng/pipelines/libraries/.azure-ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - OSX_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/libraries/enterprise/linux.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose build
  
      '
    displayName: Build test machine images
    env:
      DOTNET_RUNTIME_REPO_ROOT: $(Build.SourcesDirectory)
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose up -d
  
      '
  ...

Fixup dotnet version
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Remove merge commit headers
  eng/common/performance/crossgen_perf.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Reflect test path changes in .gitattributes; remove nonexistent files
  .gitattributes
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Fix test path and move it from Android to general Mono section
  src/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Gather more data for Process test failure
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Disable PRs
  eng/pipelines/coreclr/perf.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add slash in Windows SoD tool build (#44359)
  eng/common/performance/crossgen_perf.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Reflect test path changes in .gitattributes; remove nonexistent files (#44371)
  .gitattributes
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Bootstrapping a test for R2RDump (#42150)
  src/tests/Common/Directory.Build.targets
  src/tests/issues.targets
  src/tests/r2rdump/R2RDumpTester.cs
  src/tests/r2rdump/R2RDumpTests.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Improve performance of Enum's generic IsDefined / GetName / GetNames (#44355)
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

clarify http version test
  src/libraries/Common/tests/System/Net/Http/HttpProtocolTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

add missing constructor overloads
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicClientConnectionOptions.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

clarify http version test (#44379)
  src/libraries/Common/tests/System/Net/Http/HttpProtocolTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Disable RunThreadLocalTest8_Values on Mono (#44357)
  src/libraries/System.Threading/tests/ThreadLocalTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

LongProcessNamesAreSupported: make test work on distros where sleep is a symlink/script (#44299)
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Windows.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

add missing constructor overloads (#44380)
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicClientConnectionOptions.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

change using in ConnectCallback_UseUnixDomainSocket_Success (#44366)
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Temporary change
  src/libraries/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Revert "Disable DOUBLY_LINKED_FL (#44262)"
  src/coreclr/src/gc/gcpriv.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Added ? nullable annotation.
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Decoding/ISignatureTypeProvider.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/SignatureDecoder.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/MethodDefinition.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Fix genEventing.py to generate correct EventEnabled functions
  src/coreclr/src/scripts/genEventing.py
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Stabilize StartInfo_NotepadWithContent_withArgumentList
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Review changes, ManickaP #1 - renaming LUT - swapping leaf flag meaning (MSB) - typos
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/Huffman.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Add state in failed SetApartmentState exception
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.Windows.cs
  src/libraries/System.Threading.Thread/tests/ThreadTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Same for other tests
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Extract common code
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Build makefile to support Mac Catalyst
  src/mono/mono/utils/mono-log-darwin.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Modify
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Clean up the samples (#44293)
  src/mono/netcore/sample/Android/AndroidSampleApp.csproj
  src/mono/netcore/sample/iOS/Program.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

g_hmodCoreCLR is Windows-only
  src/coreclr/src/debug/daccess/daccess.cpp
  src/coreclr/src/debug/di/rsmain.cpp
  src/coreclr/src/inc/clrhost.h
  src/coreclr/src/inc/corcompile.h
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/utilcode/clrhost.cpp
  src/coreclr/src/utilcode/ex.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/eventtrace.cpp
  src/coreclr/src/vm/pefile.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Use 42 in MarkAsThrownByUsWorker()
  src/coreclr/src/utilcode/ex.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Addded PAL_GetPalHostModule to mscordac_unixexports
  src/coreclr/src/dlls/mscordac/mscordac_unixexports.src
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

replaced GetCLRModule with GetClrModulePathName
  src/coreclr/src/inc/clrhost.h
  src/coreclr/src/utilcode/clrhost.cpp
  src/coreclr/src/utilcode/ex.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/eventtrace.cpp
  src/coreclr/src/vm/excep.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

replaced a few cases of g_hThisInst where used to get module path. We can uise `GetClrModulePathName` instead.
  src/coreclr/src/utilcode/longfilepathwrappers.cpp
  src/coreclr/src/utilcode/util.cpp
  src/coreclr/src/vm/codeman.cpp
  src/coreclr/src/zap/zapper.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

more cases where used to get module path
  src/coreclr/src/debug/di/module.cpp
  src/coreclr/src/debug/di/shimprocess.cpp
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/utilcode/makepath.cpp
  src/coreclr/src/vm/ceeload.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

unused `GetModuleInst()`
  src/coreclr/src/jit/dllmain.cpp
  src/coreclr/src/md/compiler/classfactory.cpp
  src/coreclr/src/md/staticmd/stdafx.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

not using HMODULE in StressLog
  src/coreclr/src/debug/daccess/daccess.cpp
  src/coreclr/src/debug/daccess/dacimpl.h
  src/coreclr/src/debug/di/rsmain.cpp
  src/coreclr/src/dlls/mscoree/mscoree.cpp
  src/coreclr/src/inc/stresslog.h
  src/coreclr/src/utilcode/stresslog.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/common.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

removed mscoree GetModuleInst
  src/coreclr/src/debug/di/rsmain.cpp
  src/coreclr/src/debug/ee/debugger.cpp
  src/coreclr/src/dlls/mscoree/mscoree.cpp
  src/coreclr/src/inc/stresslog.h
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/utilcode/ccomprc.cpp
  src/coreclr/src/utilcode/stresslog.cpp
  src/coreclr/src/utilcode/util.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/common.h
  src/coreclr/src/vm/excep.cpp
  src/coreclr/src/vm/exceptionhandling.cpp
  src/coreclr/src/vm/gcheaputilities.cpp
  src/coreclr/src/vm/gcheaputilities.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Deleted both `g_hThisInst` and `g_hmodCoreCLR`
  src/coreclr/src/debug/daccess/daccess.cpp
  src/coreclr/src/debug/di/rsmain.cpp
  src/coreclr/src/debug/ee/debugger.cpp
  src/coreclr/src/dlls/mscoree/mscoree.cpp
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/tools/crossgen/crossgen.cpp
  src/coreclr/src/utilcode/ccomprc.cpp
  src/coreclr/src/utilcode/clrhost.cpp
  src/coreclr/src/utilcode/longfilepathwrappers.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/common.h
  src/coreclr/src/vm/dwreport.cpp
  src/coreclr/src/vm/eepolicy.cpp
  src/coreclr/src/vm/hosting.cpp
  src/coreclr/src/vm/jithelpers.cpp
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/vars.cpp
  src/coreclr/src/vm/vars.hpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/src/jit
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, eng/pipelines/*.*, CODE-OF-CONDUCT.md, CONTRIBUTING.md, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
