Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, eng/pipelines/*.*, CODE-OF-CONDUCT.md, CONTRIBUTING.md, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

enable returning an SSL stream from SocketsHttpHandler ConnectCallback
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[wasm] [debugger] Adding test for #42227 PR (#42299)
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/debugger-engine.c
  src/mono/mono/mini/debugger-engine.h
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-async-step.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Adapt to new behavior of nano server in resource updater (#42444)
  src/installer/managed/Microsoft.NET.HostModel/ResourceUpdater.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Avoid reusing Regex.Replace Match objects with MatchEvaluator
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Split.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Replace.Tests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fixup
  eng/Signing.props
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix several BeginXx nullable annotations
  src/libraries/Common/src/System/Threading/Tasks/TaskToApm.cs
  src/libraries/System.IO.Pipes/ref/System.IO.Pipes.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestStream.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseStream.cs
  src/libraries/System.Net.HttpListener/ref/System.Net.HttpListener.cs
  src/libraries/System.Net.HttpListener/src/System/Net/HttpListenerRequest.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Managed/HttpListenerRequest.Managed.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListenerRequest.Windows.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/ListenerAsyncResult.Windows.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/ListenerClientCertAsyncResult.Windows.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Log Failure around sync SocketPal exceptions
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/TelemetryTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fix boundery check
  src/libraries/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fix spelling
  src/libraries/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix stackalloc loop in hpack test (#42416)
  src/libraries/Common/tests/Tests/System/Net/aspnetcore/Http2/HPackIntegerTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

added functional test for supplying sslstream from connectcallback
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Addressed feedback Added dictionary test
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.NullToken.cs
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Address PR suggestions.
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.ReadDirectoryChangesW.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[wasm][http] Add support for Blob URLs (#42111)
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/HttpUtilities.Browser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpUtilities.AnyOS.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpUtilities.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/HelperMarshal.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/Http/HttpRequestMessageTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add LoaderLinkTest
  src/libraries/System.Runtime.Loader/tests/LoaderLinkTest.Dynamic/LoaderLinkTest.Dynamic.csproj
  src/libraries/System.Runtime.Loader/tests/LoaderLinkTest.Dynamic/SharedInterfaceImplementation.cs
  src/libraries/System.Runtime.Loader/tests/LoaderLinkTest.Shared/ISharedInterface.cs
  src/libraries/System.Runtime.Loader/tests/LoaderLinkTest.Shared/LoaderLinkTest.Shared.csproj
  src/libraries/System.Runtime.Loader/tests/LoaderLinkTest.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable LoadFromAssemblyName_ValidTrustedPlatformAssembly on Browser
  src/libraries/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix mono netcore bundle loading algorithm
  src/mono/mono/metadata/assembly-internals.h
  src/mono/mono/metadata/assembly.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update pr-guide.md
  docs/pr-guide.md
Due: none

Align fields on X86 assuming that the start of the fields on an instance object is always aligned
  src/coreclr/src/tools/Common/TypeSystem/Common/LayoutInt.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

The multidimensional array address helper on X86 has a special calling convention which takes a param arg when working with shared code
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Enable crossgen2smoke test for X86
  src/tests/Common/Directory.Build.targets
  src/tests/readytorun/crossgen2/Program.cs
  src/tests/readytorun/crossgen2/crossgen2smoke.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Support loading assemblies and symbols into debugger via callback (#42255)
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/metadata/debug-mono-ppdb.h
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MonoJsTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-array-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-cfo-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-datetime-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-driver.html
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-exception-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-get-properties-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-nullable-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-pointers-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/debugger/tests/debugger-test/debugger-test2.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-valuetypes-test.cs
  src/mono/wasm/debugger/tests/debugger-test/dependency.cs
  src/mono/wasm/debugger/tests/debugger-test/other.js
  src/mono/wasm/debugger/tests/debugger-test/runtime-debugger.js
  src/mono/wasm/debugger/tests/lazy-debugger-test-embedded/lazy-debugger-test-embedded.cs
  src/mono/wasm/debugger/tests/lazy-debugger-test-embedded/lazy-debugger-test-embedded.csproj
  src/mono/wasm/debugger/tests/lazy-debugger-test/lazy-debugger-test.cs
  src/mono/wasm/debugger/tests/lazy-debugger-test/lazy-debugger-test.csproj
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/library_mono.js
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Bring back assert for numBytes.
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add support for download and caching of UNC paths on Windows
  src/coreclr/scripts/superpmi.py
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix FileSystemWatcher crash due to malformed data coming from Windows.
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.ReadDirectoryChangesW.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Validate line and position of failure in tweaked payloads more tweaks
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.NullToken.cs
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fixed comment
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.NullToken.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Move helper classes to their own headers
  src/tests/profiler/native/event.h
  src/tests/profiler/native/getappdomainstaticaddress/getappdomainstaticaddress.h
  src/tests/profiler/native/holder.h
  src/tests/profiler/native/profiler.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix hardware intrinsic support for X86 targeted builds
  src/coreclr/src/tools/Common/Compiler/InstructionSetSupport.cs
  src/coreclr/src/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/InstructionSetGenerator.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/Program.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Remove commented-out code
  src/libraries/System.Text.Json/tests/Serialization/EnumConverterTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

One more time
  eng/Signing.props
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Support downloading and caching explicitly specified HTTP addressed files
  src/coreclr/scripts/superpmi.py
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[runtime] Transition the trampoline code to use memory managers for memory allocation.
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/loader-internals.h
  src/mono/mono/metadata/memory-manager.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/lldb.c
  src/mono/mono/mini/llvm-jit.cpp
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-mips.c
  src/mono/mono/mini/mini-ppc.c
  src/mono/mono/mini/mini-s390x.c
  src/mono/mono/mini/mini-sparc.c
  src/mono/mono/mini/mini-trampolines.c
  src/mono/mono/mini/mini-x86.c
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/tramp-amd64-gsharedvt.c
  src/mono/mono/mini/tramp-amd64.c
  src/mono/mono/mini/tramp-arm.c
  src/mono/mono/mini/tramp-arm64.c
  src/mono/mono/mini/tramp-mips.c
  src/mono/mono/mini/tramp-ppc.c
  src/mono/mono/mini/tramp-riscv.c
  src/mono/mono/mini/tramp-s390x.c
  src/mono/mono/mini/tramp-sparc.c
  src/mono/mono/mini/tramp-wasm.c
  src/mono/mono/mini/tramp-x86.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Added C# implementation of System.Math.ScaleB and System.MathF.ScaleB, removed old bindings, added test cases.
  src/coreclr/src/System.Private.CoreLib/src/System/Math.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/MathF.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
  src/libraries/System.Private.CoreLib/tests/math/MathFTests.cs
  src/libraries/System.Private.CoreLib/tests/math/MathFTests.csproj
  src/libraries/System.Private.CoreLib/tests/math/MathTests.cs
  src/libraries/System.Private.CoreLib/tests/math/MathTests.csproj
  src/mono/netcore/System.Private.CoreLib/src/System/Math.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/MathF.Mono.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Improve superpmi.py scripting (#42238)
  src/coreclr/scripts/superpmi.md
  src/coreclr/scripts/superpmi.py
  src/coreclr/src/ToolBox/superpmi/mcs/CMakeLists.txt
  src/coreclr/src/ToolBox/superpmi/mcs/commandline.cpp
  src/coreclr/src/ToolBox/superpmi/mcs/commandline.h
  src/coreclr/src/ToolBox/superpmi/mcs/mcs.cpp
  src/coreclr/src/ToolBox/superpmi/mcs/verbprintjiteeversion.cpp
  src/coreclr/src/ToolBox/superpmi/mcs/verbprintjiteeversion.h
  src/coreclr/src/ToolBox/superpmi/superpmi/parallelsuperpmi.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix il verification build break
  src/coreclr/src/tools/Common/TypeSystem/CodeGen/TargetDetails.CodeGen.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/TargetDetails.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix Windows AccessViolationException in FileSystemWatcher when monitoring network share for changes (#42419)
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.ReadDirectoryChangesW.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml
