Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/ilasm.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/ilasm.yml: any of: src/coreclr/ilasm, src/coreclr/ildasm
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/perf_slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/superpmi-replay.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, eng/pipelines/*.*, CODE-OF-CONDUCT.md, CONTRIBUTING.md, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/libraries/Native/Unix/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

Fix indexer of Matrix4x4
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix some bugs in the generator. Convert the Interop/PInvoke/Vector2_3_4 test suite to use the generator.
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
  src/tests/Interop/PInvoke/Vector2_3_4/Vector2_3_4.cs
  src/tests/Interop/PInvoke/Vector2_3_4/Vector2_3_4.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add in the correct depends on for the maui build.
  eng/pipelines/coreclr/perf.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add stackoverflow avoidance to SymbolicRegexNode
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexSet.cs
  src/libraries/System.Text.RegularExpressions/src/System/Threading/StackHelper.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Enable rolling build
  eng/pipelines/runtime-staging.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Remove duplicate entries from dotnet --info (#60376) (#60496)
  src/installer/corehost/cli/hostmisc/pal.windows.cpp
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[release/5.0] Add check for running under translation to mac installers (#60771)
  src/installer/pkg/packaging/osx/sharedframework/shared-framework-distribution-template.xml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

handle swapped compares (and reversed swapped compares)
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable tests that are failing with JIT asserts on ARM64 (#60773)
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.Tests/ArrayTests.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.Tests/SpanTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

The initial file move did not actually delete the folder being moved, delete it.
  src/maui/MauiScenario.props
  src/maui/MauiScenario.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add more stack overflow avoidance in regex
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/MintermGenerator.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/RegexNodeToSymbolicConverter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexBuilder.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexSet.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/TransitionRegex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Threading/StackHelper.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Improve IndexOfAny(byte,byte,byte) (#40894)
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

API Implementation: Add Indexer to Vectors (#60517)
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Numerics.Vectors/tests/Matrix3x2Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Matrix4x4Tests.cs
  src/libraries/System.Numerics.Vectors/tests/QuaternionTests.cs
  src/libraries/System.Numerics.Vectors/tests/Vector2Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Vector3Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Vector4Tests.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix3x2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
  src/libraries/System.Runtime.Intrinsics/System.Runtime.Intrinsics.sln
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/libraries/System.Runtime.Intrinsics/tests/System.Runtime.Intrinsics.Tests.csproj
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector256Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector64Tests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Implement support for [Fact] methods that are instance methods on IDisposable types.
  src/tests/Common/XUnitWrapperGenerator/TestMethodInfo.cs
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable a couple of pen tests on Windows (#60746)
  src/libraries/System.Drawing.Common/tests/PenTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Use Math.CopySign in CalendricalCalculationsHelper (#60776)
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendricalCalculationsHelper.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Maui File location and target runtime updates (#60784)
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/templates/build-perf-maui-apps.yml
  src/tests/Common/maui/MauiScenario.props
  src/tests/Common/maui/MauiScenario.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Using @vargaz fix
  src/mono/mono/mini/mini-exceptions.c
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github60486.csproj
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/githubs60486.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fixing test case source name
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github60486.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

disable non-wasm-aot builds
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[wasm] set link optimization flag via the props file, and change to -O1
  eng/testing/tests.wasm.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix native build too
  src/mono/wasm/build/WasmApp.Native.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

add debug info
  eng/testing/WasmRunnerAOTTemplate.sh
  eng/testing/tests.targets
  eng/testing/tests.wasm.targets
  src/mono/wasm/build/WasmApp.Native.targets
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/WasmAppBuilder/EmccCompile.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

only run STJ tests
  src/libraries/tests.proj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Initial support for partially jitted methods
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/patchpoint.cpp
  src/coreclr/vm/jithelpers.cpp
  src/tests/Common/testenvironment.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

feedback
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/valuenum.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Stop flagging methods with well-known unsupported types for conversion
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/ConvertToGeneratedDllImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/ConvertToGeneratedDllImportAnalyzerTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

don't add echo server
  eng/testing/tests.targets
  src/libraries/sendtohelixhelp.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

split sendtohelixhelp.proj
  src/libraries/sendtohelixhelp.proj
  src/mono/wasm/build/WasmApp.Native.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

add new files
  src/libraries/sendtohelix-mobile-non-wasm.proj
  src/libraries/sendtohelix-wasm.proj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Revert "only run STJ tests"
  src/libraries/tests.proj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

cleanup
  eng/testing/tests.targets
  src/libraries/sendtohelix-wasm.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Revert "disable non-wasm-aot builds"
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Optimize PersianCalendar.AddMonths calculations
  src/libraries/System.Private.CoreLib/src/System/Globalization/PersianCalendar.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Use remainder operator in CalendricalCalculationsHelper
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendricalCalculationsHelper.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix typo in comment: NoPropogateInherit -> NoPropagateInherit (#60717)
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectorySecurity.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Use XHarnessAppBundleToTest to create helix work items when runtime tests run on iOSSimulator (#58870)
  eng/pipelines/runtime-staging.yml
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Common/testgrouping.proj
  src/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Initial support (LSH)
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/gentree.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix typo
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix typo (#60797)
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml
