Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

eng/pipelines/coreclr/ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: checked
      platformGroup: all
      jobParameters:
        testGroup: outerloop
  ...

eng/pipelines/coreclr/perf.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/build-coreclr-and-libraries-job.yml
      buildConfig: release
      platforms:
      - Linux_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/global-build.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/global-build-job.yml
      buildConfig: release
      platforms:
      - Windows_NT_x86
      - OSX_x64
      jobParameters:
  ...

eng/pipelines/installer/azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix-multijob.yml
    parameters:
      platforms:
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
  ...

eng/pipelines/libraries/.azure-ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - OSX_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/libraries/enterprise/linux.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose build
  
      '
    displayName: Build test machine images
    env:
      DOTNET_RUNTIME_REPO_ROOT: $(Build.SourcesDirectory)
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose up -d
  
      '
  ...

eng/pipelines/runtime-official.yml:
  stages:
  - stage: Build
    jobs:
    - template: /eng/pipelines/common/checkout-job.yml
    - template: /eng/pipelines/common/platform-matrix.yml
      parameters:
        jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
        buildConfig: release
        platforms:
        - OSX_x64
        - Linux_x64
  ...

Revert "Adding A log presence check before trying to delete (#36779)" (#37323)
  src/libraries/System.Diagnostics.EventLog/tests/EventLogTests/EventLogSourceCreationTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

address review findings
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Apply code fixes from recently added analyzers (#36097)
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/Common/src/System/Drawing/ColorConverterCommon.cs
  src/libraries/Microsoft.Win32.Registry/src/Microsoft.Win32.Registry.csproj
  src/libraries/System.Data.Common/src/System/Data/Common/DbConnectionOptions.cs
  src/libraries/System.Data.Common/src/System/Data/Filter/ExpressionParser.cs
  src/libraries/System.Data.Common/src/System/Data/Filter/NameNode.cs
  src/libraries/System.Data.Common/src/System/Data/SimpleType.cs
  src/libraries/System.Data.Common/src/System/Data/XMLSchema.cs
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.Net.HttpListener/src/System/Net/HttpListenerRequest.cs
  src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/DecimalFormatter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathScanner.cs
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Avoid allocating unused ObjectDisposedException per NegotiateStream (#37305)
  src/libraries/System.Net.Security/src/System/Net/Security/NegotiateStream.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Enhance DiagnosticSource Test readability (#37294)
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivitySourceTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

MacOS createdump
  src/coreclr/src/CMakeLists.txt
  src/coreclr/src/debug/createdump/CMakeLists.txt
  src/coreclr/src/debug/createdump/crashinfo.cpp
  src/coreclr/src/debug/createdump/crashinfo.h
  src/coreclr/src/debug/createdump/crashinfomac.cpp
  src/coreclr/src/debug/createdump/crashinfounix.cpp
  src/coreclr/src/debug/createdump/createdump.h
  src/coreclr/src/debug/createdump/mac.h
  src/coreclr/src/debug/createdump/threadinfo.cpp
  src/coreclr/src/debug/createdump/threadinfo.h
  src/coreclr/src/debug/createdump/threadinfomac.cpp
  src/coreclr/src/debug/createdump/threadinfounix.cpp
  src/coreclr/src/debug/dbgutil/CMakeLists.txt
  src/coreclr/src/debug/dbgutil/machoreader.cpp
  src/coreclr/src/debug/dbgutil/machoreader.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

General createdump cleanup.
  src/coreclr/src/debug/createdump/crashinfo.cpp
  src/coreclr/src/debug/createdump/crashinfo.h
  src/coreclr/src/debug/createdump/createdump.cpp
  src/coreclr/src/debug/createdump/createdump.h
  src/coreclr/src/debug/createdump/datatarget.cpp
  src/coreclr/src/debug/createdump/datatarget.h
  src/coreclr/src/debug/createdump/dumpwriter.cpp
  src/coreclr/src/debug/createdump/memoryregion.h
  src/coreclr/src/debug/dbgutil/elfreader.cpp
  src/coreclr/src/inc/arrayholder.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix build
  src/coreclr/src/debug/createdump/crashinfounix.cpp
  src/coreclr/src/debug/createdump/dumpwriter.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Code review feedback
  src/coreclr/src/debug/createdump/crashinfo.cpp
  src/coreclr/src/debug/createdump/crashinfo.h
  src/coreclr/src/debug/createdump/crashinfomac.cpp
  src/coreclr/src/debug/createdump/crashinfounix.cpp
  src/coreclr/src/debug/createdump/createdump.cpp
  src/coreclr/src/debug/createdump/dumpwriter.cpp
  src/coreclr/src/debug/createdump/dumpwriter.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Enabled crash/unhandled exception createdump trigger.
  src/coreclr/src/pal/src/thread/process.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Code review feedback
  src/coreclr/src/inc/arrayholder.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Sorted the build scripts' help alphabetically, and made the subset error message softer and without metrics.
  eng/SubsetValidation.targets
  eng/build.ps1
  eng/build.sh
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Annotate System.Diagnostics.TextWriterTraceListener for nullable reference types (#37267)
  src/libraries/System.Diagnostics.TextWriterTraceListener/ref/System.Diagnostics.TextWriterTraceListener.cs
  src/libraries/System.Diagnostics.TextWriterTraceListener/ref/System.Diagnostics.TextWriterTraceListener.csproj
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System.Diagnostics.TextWriterTraceListener.csproj
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/DelimitedListTraceListener.cs
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/TextWriterTraceListener.cs
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/XmlWriterTraceListener.cs
  src/libraries/System.Diagnostics.TraceSource/ref/System.Diagnostics.TraceSource.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceListener.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update README.md
  README.md
Due: none

Remove unnecessary volatile from EventCounter (#37309)
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventCounter.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add a front page link to download daily builds (#37322)
  README.md
Due: none

Add [SuppressGCTransition] to GetSysColor (#37284)
  src/libraries/Common/src/Interop/Windows/User32/Interop.GetSysColor.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Apply suggestions from code review
  src/libraries/System.Memory/tests/ReadOnlySpan/Split.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.Split.cs
  src/libraries/System.Private.CoreLib/src/System/SpanSplitEnumerator.T.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Moved SpanSplit Tests to correct file
  src/libraries/System.Memory/tests/ReadOnlySpan/Split.char.cs
  src/libraries/System.Memory/tests/System.Memory.Tests.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Optimize WithLower, WithUpper, Create, AsInt64, AsUInt64, AsDouble with ARM64 hardware intrinsics (#37139)
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Optimize Vector64/Vector128 WithElement()
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/src/jit/hwintrinsicxarch.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Optimize Vector64.As
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/src/jit/valuenumfuncs.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Optimize Vector128.GetUpper() in JIT
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Optimize AsVector128, AsVector and AsVector4
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

code review feedback
  src/coreclr/src/vm/eventtrace.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Support COM objects using IEnumerator (#37326)
  src/coreclr/src/System.Private.CoreLib/ILLinkTrim.xml
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IEnumerator.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumVariantViewOfEnumerator.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumerableViewOfDispatch.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumeratorToEnumVariantMarshaler.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumeratorViewOfEnumVariant.cs
  src/coreclr/tests/src/Interop/COM/Dynamic/CollectionTest.cs
  src/coreclr/tests/src/Interop/COM/NETClients/IDispatch/Program.cs
  src/coreclr/tests/src/Interop/COM/NETServer/DispatchTesting.cs
  src/coreclr/tests/src/Interop/COM/NativeClients/Dispatch/Client.cpp
  src/coreclr/tests/src/Interop/COM/NativeServer/DispatchTesting.h
  src/coreclr/tests/src/Interop/COM/ServerContracts/Server.Contracts.cs
  src/coreclr/tests/src/Interop/COM/ServerContracts/Server.Contracts.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add test
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeFeatureTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Latest version from Dan, disable for ARM64.
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/smallsort/bitonic_gen.py
  src/coreclr/src/gc/smallsort/bitonic_sort.AVX2.double.generated.h
  src/coreclr/src/gc/smallsort/bitonic_sort.AVX2.float.generated.h
  src/coreclr/src/gc/smallsort/bitonic_sort.AVX2.int32_t.generated.h
  src/coreclr/src/gc/smallsort/bitonic_sort.AVX2.int64_t.generated.h
  src/coreclr/src/gc/smallsort/bitonic_sort.AVX2.uint32_t.generated.h
  src/coreclr/src/gc/smallsort/bitonic_sort.AVX2.uint64_t.generated.h
  src/coreclr/src/gc/smallsort/bitonic_sort.h
  src/coreclr/src/gc/vxsort.cpp
  src/coreclr/src/gc/vxsort.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix mono_asmctx_get_name () after #37264.
  src/mono/mono/metadata/assembly.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update RuntimeFeatureTests.cs
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeFeatureTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Disable inlining of constant method bodies for methods which have the NoInlining flag set. (dotnet/linker#1230)
  src/tools/illink/src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Disable inlining of constant method bodies for methods which have the NoInlining flag set. (dotnet/linker#1230)
  src/tools/linker/src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Clean up
  src/libraries/Common/src/System/Net/Security/SafeCredentialReference.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslSessionsCache.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[browser][wasm] Correct the interop call to prevent crash
  src/mono/wasm/runtime/driver.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Run WASM tests with xharness
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/testing/WasmRunnerTemplate.sh
  src/mono/wasm/Makefile
  src/mono/wasm/runtime-test.js
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Update webassembly docker image with updated emscripten version (#37253)
  eng/pipelines/common/platform-matrix.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Use OrdinalIgnoreCase in IdnMapping
  src/libraries/System.Private.CoreLib/src/System/Globalization/IdnMapping.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Third time's the charm?
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeFeatureTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Try consuming Helix SDK more, suggestions from Premek
  eng/testing/tests.mobile.targets
  src/libraries/sendtohelix.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fixes for Linux compile, ended up disabling vxsort for Linux for now.
  src/coreclr/src/gc/gc.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
