Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

eng/pipelines/coreclr/ci.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
      - OSX_arm64
      - OSX_x64
  ...

eng/pipelines/coreclr/jitrollingbuild.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-jit-job.yml
      buildConfig: checked
      platforms:
      - OSX_x64
      - Linux_x64
      - windows_x64
      - windows_x86
      - windows_arm64

eng/pipelines/coreclr/perf.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Every night at 2:30AM
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if and(ne(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'Schedule')) }}:
    - template: /eng/pipelines/common/platform-matrix.yml
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/coreclr/superpmi.yml:
  schedules:
  - cron: 0 17 * * 0
    displayName: Sun at 9:00 AM (UTC-8:00)
    branches:
      include:
      - master
    always: true
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/build-coreclr-and-libraries-job.yml
      buildConfig: checked
  ...

eng/pipelines/installer/azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix-multijob.yml
    parameters:
      platforms:
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
  ...

eng/pipelines/libraries/.azure-ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - OSX_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

eng/pipelines/libraries/enterprise/linux.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose build
  
      '
    displayName: Build test machine images
    env:
      DOTNET_RUNTIME_REPO_ROOT: $(Build.SourcesDirectory)
  - bash: 'cd $(enterpriseTestsSetup)
  
      docker-compose up -d
  
      '
  ...

Add support for OpenSSL 1.0.x
  src/libraries/Native/Unix/System.Security.Cryptography.Native/apibridge.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/apibridge.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/osslcompat_111.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey.c
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

HTTP/3: Remove ASP.NET Core specific code from QPackEncoder
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/QPackEncoder.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Remove SupportedOsPlatform attribute for LDAP TLS
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Throw ObjectDisposedException when setting LDAP TLS settings on Linux.
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapSessionOptionsTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Remove PALEXPORT EVP_PKEY get/set RSA functions
  src/libraries/Native/Unix/System.Security.Cryptography.Native/entrypoints.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey_rsa.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix OSR
  src/coreclr/jit/codegencommon.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Error code, take 3.
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey.c
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Prototype removing boxes from GC.KeepAlive
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/importer.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix lots of unnecessary XmlValueGetter delegate allocations (#54344)
  src/libraries/System.Private.Xml/src/System/Xml/Core/XsdValidatingReader.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Lazy-allocate ValidationState.CurPos (#54346)
  src/libraries/System.Private.Xml/src/System/Xml/Schema/ValidationState.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

bring up WASM AOT microbenchmarks run
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/testing/performance/performance-setup.sh
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Only include Microsoft.NET.Runtime.RuntimeConfigParser.Task on mobile (#54361)
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix casing
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix casing (#54384)
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Implement NativeMemory (#54006)
  THIRD-PARTY-NOTICES.TXT
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MemAlloc.cs
  src/libraries/Common/src/Interop/Windows/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Windows/Ucrtbase/Interop.MemAlloc.cs
  src/libraries/Native/Unix/Common/pal_config.h.in
  src/libraries/Native/Unix/System.Native/entrypoints.c
  src/libraries/Native/Unix/System.Native/pal_memory.c
  src/libraries/Native/Unix/System.Native/pal_memory.h
  src/libraries/Native/Unix/configure.cmake
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeMemory.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeMemory.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeMemory.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/NativeMemoryTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Adds LoggerMessageAttribute ctor overload
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/ref/Microsoft.Extensions.Logging.Abstractions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LoggerMessageAttribute.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratedCodeTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratorEmitterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/EventNameTestExtensions.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Update testing.md
  docs/workflow/testing/libraries/testing.md
Due: none

fix MsQuicStream counting on failure (#54249)
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

add csproj'
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Exclude experimental projects from source-build (#54222)
  src/coreclr/.nuget/coreclr-packages.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Clean things up
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/importer.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Restore TLS 1.2 renegotiation
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native/entrypoints.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_ssl.h
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix Linux x86 build
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/superpmi-shim-collector.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-counter/superpmi-shim-counter.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-simple/superpmi-shim-simple.cpp
  src/coreclr/clrdefinitions.cmake
  src/coreclr/debug/ee/funceval.cpp
  src/coreclr/debug/ee/i386/x86walker.cpp
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/gcinfo/CMakeLists.txt
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/md/inc/VerifyLayouts.inc
  src/coreclr/md/inc/metamodel.h
  src/coreclr/pal/src/misc/sysinfo.cpp
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/common.h
  src/coreclr/vm/crossgencompile.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/field.cpp
  src/coreclr/vm/field.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Apply suggestions from code review
  docs/workflow/testing/libraries/testing.md
Due: none

Revert "Lets try one more build with doubled timeout"
  src/libraries/sendtohelixhelp.proj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Make GetEvents() safe
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/MetadataPropertyDescriptorWrapper.cs
  src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/MS/Internal/Xml/Linq/ComponentModel/XComponentModel.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/CustomTypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ICustomTypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/PropertyDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectPropertyDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DataRecordInternal.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbConnectionStringBuilder.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataRecord.cs
  src/libraries/System.Data.Common/src/System/Data/DataRowView.cs
  src/libraries/System.Data.Common/src/System/Data/DataViewManagerListItemTypeDescriptor.cs
  src/libraries/System.Data.Common/tests/TrimmingTests/DbConnectionStringBuilder.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

add comment
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

make GetProperties safe
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/MetadataPropertyDescriptorWrapper.cs
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbConnectionStringBuilder.cs
  src/libraries/System.Data.Common/tests/TrimmingTests/DbConnectionStringBuilder.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

HTTP/3: Remove ASP.NET Core specific code from QPackEncoder (#54378)
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/QPackEncoder.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Tuning
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/jitconfigvalues.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix Linux x86 build (#50836)
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/superpmi-shim-collector.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-counter/superpmi-shim-counter.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-simple/superpmi-shim-simple.cpp
  src/coreclr/clrdefinitions.cmake
  src/coreclr/debug/ee/funceval.cpp
  src/coreclr/debug/ee/i386/x86walker.cpp
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/gcinfo/CMakeLists.txt
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/md/inc/VerifyLayouts.inc
  src/coreclr/md/inc/metamodel.h
  src/coreclr/pal/src/misc/sysinfo.cpp
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/common.h
  src/coreclr/vm/crossgencompile.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/field.cpp
  src/coreclr/vm/field.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Add a test
  src/tests/JIT/Methodical/Boxing/boxunbox/KeepAliveBoxOpt.cs
  src/tests/JIT/Methodical/Boxing/boxunbox/KeepAliveBoxOpt.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

backport opportunistic bugfixes
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ReferenceHandlerTests.IgnoreCycles.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

strengthen debug assertions and add clarifying comments
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Condition MibcArgs for source-build (#54225)
  src/coreclr/crossgen-corelib.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Fix formatting
  src/coreclr/jit/importer.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/libraries/Native/Unix/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
