Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

eng/pipelines/coreclr/ci.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
      - OSX_arm64
      - OSX_x64
  ...

eng/pipelines/coreclr/jitrollingbuild.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-jit-job.yml
      buildConfig: checked
      platforms:
      - OSX_x64
      - Linux_x64
      - windows_x64
      - windows_x86
      - windows_arm64

eng/pipelines/coreclr/perf.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Every night at 2:30AM
    branches:
      include:
      - master
    always: true
  jobs:
  - ${{ if and(ne(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'Schedule')) }}:
    - template: /eng/pipelines/common/platform-matrix.yml
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/coreclr/superpmi.yml:
  schedules:
  - cron: 0 17 * * 0
    displayName: Sun at 9:00 AM (UTC-8:00)
    branches:
      include:
      - master
    always: true
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/build-coreclr-and-libraries-job.yml
      buildConfig: checked
  ...

eng/pipelines/global-build.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/global-build-job.yml
      buildConfig: release
      platforms:
      - windows_x86
      - OSX_x64
      jobParameters:
        testGroup: innerloop
        nameSuffix: Runtime_Debug
  ...

eng/pipelines/installer/azure-pipelines.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix-multijob.yml
    parameters:
      platforms:
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_musl_arm64
      - Linux_musl_x64
      - Linux_x64
  ...

eng/pipelines/libraries/.azure-ci.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: release
      platforms:
      - OSX_x64
      - Windows_NT_x64
      - Windows_NT_x86
  ...

PR feedback
  src/libraries/Microsoft.Extensions.Options/src/OptionsServiceCollectionExtensions.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/CodeGenerator.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[mono] Add monovm_initialize_preparsed for Android (#52304)
  src/mono/mono/metadata/mono-private-unstable.h
  src/mono/mono/metadata/native-library.h
  src/mono/mono/mini/mono-private-unstable.h
  src/mono/mono/mini/monovm.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix binlog names and paths for clr managed assets (#52341)
  eng/pipelines/coreclr/templates/build-job.yml
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

initial attempt for dynamic window
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2StreamWindowManager.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add Analyzer packaging support and packaging documentation
  docs/coding-guidelines/libraries-packaging.md
  docs/coding-guidelines/package-projects.md
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Microsoft.Extensions.Logging.Generators.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/pkg/Microsoft.Extensions.Logging.Abstractions.pkgproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Addressing feedback and fixing Browser and windows legs
  src/coreclr/System.Private.CoreLib/CreateRuntimeRootILLinkDescriptorFile.targets
  src/coreclr/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.Shared.xml
  src/libraries/Microsoft.CSharp/src/ILLink/ILLink.Descriptors.Shared.xml
  src/libraries/Microsoft.CSharp/src/Microsoft.CSharp.csproj
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft.VisualBasic.Core.vbproj
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.NonBrowser.xml
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.Shared.xml
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[System.Runtime.Loader] Add hot reload test infrastructure (#51144)
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/Directory.Build.props
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/Directory.Build.targets
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.MethodBody1/MethodBody1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.MethodBody1/MethodBody1_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.MethodBody1/MethodBody1_v2.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.MethodBody1/System.Reflection.Metadata.ApplyUpdate.Test.MethodBody1.csproj
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.MethodBody1/deltascript.json
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateUtil.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable Http2_MultipleConnectionsEnabled_IdleConnectionTimeoutExpired_ConnectionRemovedAndNewCreated
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Remove the HTTP2 and HTTP3 implementations on browser-wasm. (#52420)
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/H2StaticTable.Http2.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/H2StaticTable.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/H3StaticTable.Http3.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/H3StaticTable.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.Http2And3.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.Http3.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Tabs -> spaces
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable SocketsHttpHandlerTest_Http2.SocketSendQueueFull_RequestCanceled_ThrowsOperationCanceled on OSX
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Crossgen2 pipeline optimize (#51154)
  src/coreclr/tools/Common/Compiler/CompilerTypeSystemContext.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
  src/coreclr/tools/aot/crossgen2/CommandLineOptions.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

disable magic for now
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2StreamWindowManager.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Basic infrastructure to enable DllImportGenerator (#52486)
  Directory.Build.targets
  NuGet.config
  eng/Versions.props
  eng/generators.targets
  src/libraries/Common/src/System/Runtime/InteropServices/GeneratedDllImportAttribute.cs
  src/libraries/Common/src/System/Runtime/InteropServices/GeneratedMarshallingAttribute.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

WaitForAvailable*StreamsAsync
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/QuicConnectionProvider.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Merge with parsing optimizations
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.Utils.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigNumber.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/NumericsHelpers.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable System.Net.Sockets.Tests.LoggingTest.EventSource_EventsRaisedAsExpected
  src/libraries/System.Net.Sockets/tests/FunctionalTests/LoggingTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Address code review feedback.
  docs/coding-guidelines/libraries-packaging.md
  docs/coding-guidelines/package-projects.md
  src/libraries/Directory.Build.targets
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

NSAutoreleasePool instance should be added to all threads. (#52023)
  docs/workflow/trimming/feature-switches.md
  src/coreclr/clr.featuredefines.props
  src/coreclr/clrdefinitions.cmake
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/coreclr/vm/finalizerthread.cpp
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.OSX.xml
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Threading/AutoreleasePool.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolWorkQueue.AutoreleasePool.OSX.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolWorkQueue.cs
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.OSX.xml
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/gc.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/threads-types.h
  src/mono/mono/metadata/threads.c
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Interop/ObjectiveC/AutoReleaseTest/AutoReleaseTest.cs
  src/tests/Interop/ObjectiveC/AutoReleaseTest/AutoReleaseTest.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

More feedback
  docs/coding-guidelines/libraries-packaging.md
Due: none

Remove JitBench (#52400)
  src/tests/Common/dirs.proj
  src/tests/performance/Scenario/JitBench/Benchmarks/BuildHelloWorldBenchmark.cs
  src/tests/performance/Scenario/JitBench/Benchmarks/CscBenchmark.cs
  src/tests/performance/Scenario/JitBench/Benchmarks/CscHelloWorldBenchmark.cs
  src/tests/performance/Scenario/JitBench/Benchmarks/CscRoslynSourceBenchmark.cs
  src/tests/performance/Scenario/JitBench/Benchmarks/EmptyConsoleProgramExecution.cs
  src/tests/performance/Scenario/JitBench/Benchmarks/WebAppBenchmarks.cs
  src/tests/performance/Scenario/JitBench/Benchmarks/Word2VecBenchmark.cs
  src/tests/performance/Scenario/JitBench/JitBench.csproj
  src/tests/performance/Scenario/JitBench/Runner/Benchmark.cs
  src/tests/performance/Scenario/JitBench/Runner/BenchmarkConfiguration.cs
  src/tests/performance/Scenario/JitBench/Runner/BenchmarkRunResult.cs
  src/tests/performance/Scenario/JitBench/Runner/BenchviewResultExporter.cs
  src/tests/performance/Scenario/JitBench/Runner/CommandLineOptions.cs
  src/tests/performance/Scenario/JitBench/Runner/Program.cs
  src/tests/performance/Scenario/JitBench/Runner/Statistics.cs
  src/tests/performance/Scenario/JitBench/Runner/TestRun.cs
  src/tests/performance/Scenario/JitBench/Utilities/ConsoleRedirector.cs
  src/tests/performance/Scenario/JitBench/Utilities/ConsoleTestOutputHelper.cs
  src/tests/performance/Scenario/JitBench/Utilities/DotNetSetup.cs
  src/tests/performance/Scenario/JitBench/Utilities/FileTasks.cs
  src/tests/performance/Scenario/JitBench/Utilities/FileTestOutputHelper.cs
  src/tests/performance/Scenario/JitBench/Utilities/IProcessLogger.cs
  src/tests/performance/Scenario/JitBench/Utilities/ITestOutputHelper.cs
  src/tests/performance/Scenario/JitBench/Utilities/IndentedTestOutputHelper.cs
  src/tests/performance/Scenario/JitBench/Utilities/ProcessRunner.cs
  src/tests/performance/Scenario/JitBench/Utilities/TestOutputProcessLogger.cs
  src/tests/performance/Scenario/JitBench/unofficial_dotnet/Directory.Build.props
  src/tests/performance/Scenario/JitBench/unofficial_dotnet/Directory.Build.targets
  src/tests/performance/Scenario/JitBench/unofficial_dotnet/JitBench.csproj
  src/tests/performance/Scenario/JitBench/unofficial_dotnet/README.md
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Introduce the preview feature attribute (#52419)
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/RequiresPreviewFeaturesAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Runtime/Versioning/RequiresPreviewFeaturesAttributeTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Reduced checks
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Removed redundant global const
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Replaced magic consts with their named equivalents
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fixing the GetInterfaceMap tests for mono in the runtime repo.
  src/mono/mono/metadata/icall.c
  src/tests/issues.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

change if order to improve FileStream perf for cases when both buffers are of the same size (#51489)
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/BufferedFileStreamStrategy.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Include register selection heuristics in "Allocating Registers" table (#52513)
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsra_score.h
  src/coreclr/jit/lsra_stats.h
  src/coreclr/jit/lsrastats.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Get some error info from test
  src/libraries/System.Net.Sockets/tests/FunctionalTests/LoggingTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Address feedback
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgflow.cpp
  src/tests/Common/external/external.csproj
  src/tests/JIT/opt/Devirtualization/AnalyzeCsFile_Github_52270.cs
  src/tests/JIT/opt/Devirtualization/AnalyzeCsFile_Github_52270.csproj
  src/tests/JIT/opt/Devirtualization/AnalyzeCsFile_Github_52270_cs.test
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Address feedback
  src/coreclr/jit/fgflow.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fold "cmp & 1" to "cmp" (#52524)
  src/coreclr/jit/morph.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[Android] Split Interop.Libraries
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/libraries/Common/src/Interop/Unix/Interop.CryptoNative.cs
  src/libraries/Common/src/Interop/Unix/Interop.Libraries.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Trim some HttpHeader parsing logic on browser-wasm
  src/libraries/System.Net.Http/src/ILLink/ILLink.Substitutions.xml
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/GenericHeaderParser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/GenericHeaderParserTest/MailAddressParserTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix mono builds
  src/coreclr/vm/eventing/eventpipe/ds-rt-coreclr.h
  src/mono/mono/eventpipe/ds-rt-mono.h
  src/native/eventpipe/ds-process-protocol.c
  src/native/eventpipe/ds-process-protocol.h
  src/native/eventpipe/ds-rt.h
  src/tests/profiler/native/nullprofiler/nullprofiler.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Prepend identifiers with @ symbol since the Roslyn Symbol API strips the @ from the name. (dotnet/runtimelab#1105)
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/TypePositionInfo.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Compiles.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fixing assert for accounting
  src/coreclr/gc/gc.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update mono workload id and version to match the workload spec (#52468)
  eng/Versions.props
  src/installer/prepare-artifacts.proj
  src/mono/nuget/Directory.Build.props
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/Microsoft.NET.Workload.Mono.Toolchain.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.json.in
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets
  src/mono/nuget/mono-packages.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Improve JIT debugging under SuperPMI (#52427)
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix Thread::SetProfilerFilterContext usage
  src/coreclr/debug/daccess/dacimpl.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, eng/pipelines/*.*, CODE-OF-CONDUCT.md, CONTRIBUTING.md, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/libraries/Native/Unix/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
