Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/global-build.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: eng/Version.Details.xml, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

Fix WindowsRuntime test
  src/libraries/System.Runtime.WindowsRuntime/tests/System.Runtime.WindowsRuntime.Tests.csproj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

More tests running on netfx
  eng/referenceFromRuntime.targets
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.WhiteSpace.NonCoreLib.cs
  src/libraries/System.Utf8String.Experimental/src/System/Utf8String.Portable.cs
  src/libraries/System.Utf8String.Experimental/tests/System.Utf8String.Experimental.Tests.csproj
  src/libraries/System.Utf8String.Experimental/tests/System/MemoryTests.cs
  src/libraries/System.Utf8String.Experimental/tests/System/MemoryTests.netcoreapp.cs
  src/libraries/System.Utf8String.Experimental/tests/System/MemoryTests.netfx.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

One more baseline
  src/libraries/shims/ApiCompatBaseline.netcoreapp.netstandard.txt
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix test for COM + dynamic keyword (#33334)
  src/coreclr/tests/issues.targets
  src/coreclr/tests/src/Interop/COM/Dynamic/Server/BasicTest.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove my ownership of System.Reflection.Metadata
  docs/area-owners.md
Due: none

always define PatchpointInfo struct
  src/coreclr/src/inc/patchpointinfo.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

JIT: remove GTF_INX_REFARR_LAYOUT (#33098)
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/optcse.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Handle GT_SWITCH
  src/coreclr/src/jit/morph.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Revert "Revert "Dynamic generic dictionary expansion feature (#32270)" (#33310)"
  docs/design/coreclr/botr/shared-generics.md
  src/coreclr/src/debug/daccess/nidump.cpp
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/src/tools/crossgen2/jitinterface/jitwrapper.cpp
  src/coreclr/src/vm/amd64/cgenamd64.cpp
  src/coreclr/src/vm/arm/stubs.cpp
  src/coreclr/src/vm/arm64/stubs.cpp
  src/coreclr/src/vm/ceeload.cpp
  src/coreclr/src/vm/ceeload.h
  src/coreclr/src/vm/clsload.cpp
  src/coreclr/src/vm/genericdict.cpp
  src/coreclr/src/vm/genericdict.h
  src/coreclr/src/vm/generics.cpp
  src/coreclr/src/vm/genmeth.cpp
  src/coreclr/src/vm/i386/cgenx86.cpp
  src/coreclr/src/vm/jithelpers.cpp
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/vm/method.cpp
  src/coreclr/src/vm/method.hpp
  src/coreclr/src/vm/methodtable.inl
  src/coreclr/src/vm/methodtablebuilder.cpp
  src/coreclr/src/vm/prestub.cpp
  src/coreclr/tests/src/Loader/classloader/DictionaryExpansion/DictionaryExpansion.cs
  src/coreclr/tests/src/Loader/classloader/DictionaryExpansion/DictionaryExpansion.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Delete unnecessary CLSCompliant attributes (#33326)
  src/coreclr/src/System.Private.CoreLib/src/System/TypedReference.cs
  src/libraries/System.Private.CoreLib/src/System/SByte.cs
  src/libraries/System.Private.CoreLib/src/System/UInt16.cs
  src/libraries/System.Private.CoreLib/src/System/UInt32.cs
  src/libraries/System.Private.CoreLib/src/System/UInt64.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System/Security/SecureStringMarshal.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/shims/ApiCompatBaseline.netcoreapp.netstandard.txt
  src/libraries/shims/ApiCompatBaseline.netcoreapp.netstandardOnly.txt
  src/mono/netcore/System.Private.CoreLib/src/System/TypedReference.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Remove my ownership of System.Reflection.Metadata (#33340)
  docs/area-owners.md
Due: none

Revise how patchpoint info is stored in debug blob.
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugInfoTableNode.cs
  src/coreclr/src/vm/codeman.cpp
  src/coreclr/src/vm/debuginfostore.cpp
  src/coreclr/src/vm/debuginfostore.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

using [Theory] tests to reduce LoC
  src/libraries/System.Text.Json/tests/Serialization/Value.ReadTests.ConcurrentCollections.cs
  src/libraries/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/libraries/System.Text.Json/tests/Serialization/Value.ReadTests.NonGenericCollections.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

using [Theory] for additional tests
  src/libraries/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/libraries/System.Text.Json/tests/Serialization/Value.ReadTests.NonGenericCollections.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix race condition in dynamic dictionary resizing
  src/coreclr/src/vm/genericdict.cpp
  src/coreclr/src/vm/genericdict.h
  src/coreclr/src/vm/genmeth.cpp
  src/coreclr/src/vm/methodtablebuilder.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Multiply defined
  src/coreclr/src/gc/env/etmdummy.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Cast to size_t
  src/coreclr/src/vm/callcounting.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

operator precedence
  src/coreclr/src/vm/frames.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Consolidate objcopy detection
  eng/native/configureplatform.cmake
  eng/native/configuretools.cmake
  eng/native/functions.cmake
  src/coreclr/CMakeLists.txt
  src/installer/corehost/CMakeLists.txt
  src/installer/settings.cmake
  src/libraries/Native/Unix/CMakeLists.txt
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix the guid for the transaction (#32573)
  src/libraries/System.Data.OleDb/src/SafeHandles.cs
  src/libraries/System.Data.OleDb/src/UnsafeNativeMethods.cs
  src/libraries/System.Data.OleDb/tests/OleDbConnectionTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Delete remoting left-overs
  src/coreclr/src/vm/amd64/GenericComPlusCallStubs.asm
  src/coreclr/src/vm/arm/asmhelpers.asm
  src/coreclr/src/vm/i386/asmhelpers.asm
  src/coreclr/src/vm/i386/jitinterfacex86.cpp
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/threads.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Delete StressOn
  src/coreclr/src/inc/clrconfigvalues.h
  src/coreclr/src/vm/eeconfig.cpp
  src/coreclr/src/vm/eeconfig.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Delete API thread stress
  src/coreclr/src/inc/apithreadstress.cpp
  src/coreclr/src/inc/apithreadstress.h
  src/coreclr/src/inc/clrconfigvalues.h
  src/coreclr/src/inc/predeftlsslot.h
  src/coreclr/src/vm/appdomain.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/eeconfig.cpp
  src/coreclr/src/vm/eeconfig.h
  src/coreclr/src/vm/pefile.cpp
  src/coreclr/src/vm/peimage.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Delete unused variables
  src/coreclr/src/utilcode/util.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Delete REGUTIL::s_fUseRegistry
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/utilcode/regutil.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

When doing local variables analysis don't assume they are always… (dotnet/linker#978)
  src/tools/linker/src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/Dependencies/LocalsWithoutStore.il
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/UninitializedLocals.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

When doing local variables analysis don't assume they are always… (dotnet/linker#978)
  src/tools/illink/src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/Dependencies/LocalsWithoutStore.il
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/UninitializedLocals.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix wrong optimization value in tests
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/ComplexConditions.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/DeadVariables.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/MultiStageRemoval.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/ReplacedReturns.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/SimpleConditionalProperty.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/SizeOfInConditions.cs
  src/tools/linker/test/Mono.Linker.Tests.Cases/UnreachableBlock/TryFinallyBlocks.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Fix wrong optimization value in tests
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/ComplexConditions.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/DeadVariables.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/MultiStageRemoval.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/ReplacedReturns.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/SimpleConditionalProperty.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/SizeOfInConditions.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/TryFinallyBlocks.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[interp] Small cosmetics.
  src/mono/mono/mini/interp/interp.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Delete .NET Framework-specific hosting flags
  src/coreclr/src/debug/daccess/enummem.cpp
  src/coreclr/src/debug/daccess/request.cpp
  src/coreclr/src/inc/cor.h
  src/coreclr/src/inc/dacvars.h
  src/coreclr/src/tools/metainfo/mdinfo.cpp
  src/coreclr/src/vm/amd64/UMThunkStub.asm
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/ceemain.h
  src/coreclr/src/vm/compile.cpp
  src/coreclr/src/vm/corhost.cpp
  src/coreclr/src/vm/crossgencompile.cpp
  src/coreclr/src/vm/eventtrace.cpp
  src/coreclr/src/vm/threads.h
  src/coreclr/src/vm/util.hpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

ms-vscode.csharp to ms-dotnettools.csharp
  docs/workflow/debugging/coreclr/debugging.md
  docs/workflow/debugging/libraries/debugging-vscode.md
Due: none

Revert dirs.proj depproj change
  src/libraries/build.proj
  src/libraries/restore/dirs.proj
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Respect -runtimeconfiguration with -vs switch
  eng/build.ps1
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Add sourcelink back to Tools.props
  eng/Tools.props
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

correct paranthesis order
  src/coreclr/src/vm/frames.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Set ilasm/ildasm RID for restore
  src/libraries/Directory.Build.props
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

[jit] Implement support for all Sse1 intrinsics for netcore.
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/simd-intrinsics-netcore.c
  src/mono/mono/mini/simd-methods-netcore.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Address the feedback
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml

Get all tests running on netfx.
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Utf8Span.Searching.cs
  src/libraries/System.Private.CoreLib/src/System/Utf8String.Construction.cs
  src/libraries/System.Private.CoreLib/src/System/Utf8String.cs
  src/libraries/System.Utf8String.Experimental/src/Resources/Strings.resx
  src/libraries/System.Utf8String.Experimental/src/System/Utf8String.Portable.cs
  src/libraries/System.Utf8String.Experimental/tests/System.Utf8String.Experimental.Tests.csproj
  src/libraries/System.Utf8String.Experimental/tests/System/ReflectionTests.cs
  src/libraries/System.Utf8String.Experimental/tests/System/ReflectionTests.netcoreapp.cs
  src/libraries/System.Utf8String.Experimental/tests/System/ReflectionTests.netfx.cs
  src/libraries/System.Utf8String.Experimental/tests/System/Utf8SpanTests.Searching.TestData.cs
  src/libraries/System.Utf8String.Experimental/tests/System/Utf8StringTests.Ctor.cs
  src/libraries/System.Utf8String.Experimental/tests/System/Utf8StringTests.cs
Due: eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime.yml
