Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/ilasm.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/jitstress-isas-avx512.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/coreclr/superpmi.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

eng/pipelines/coreclr/ci.yml:
  schedules:
  - cron: 0 9,18,1 * * *
    displayName: runtime-coreclr-outerloop default schedule
    branches:
      include:
      - main
    always: false
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
  ...

eng/pipelines/coreclr/ilasm.yml:
  schedules:
  - cron: 0 19 * * 6
    displayName: Sat at 11:00 AM (UTC-8:00)
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/common/build-coreclr-and-libraries-job.yml
      buildConfig: checked
  ...

eng/pipelines/coreclr/jitrollingbuild.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-jit-job.yml
      buildConfig: checked
      platforms:
      - OSX_arm64
      - OSX_x64
      - Linux_arm
      - Linux_arm64
      - Linux_x64
      - windows_x64
      - windows_x86
  ...

eng/pipelines/coreclr/jitstress-isas-avx512.yml:
  schedules:
  - cron: 30 19 * * 6
    displayName: Sat at 11:30 AM (UTC-8:00)
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/pipelines/common/templates/single-stage-pipeline-with-resources.yml
    parameters:
      jobs:
      - template: /eng/pipelines/common/platform-matrix.yml
  ...

eng/pipelines/coreclr/perf.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Every night at 2:30AM
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/coreclr/perf-wasm-jobs.yml
    parameters:
      ${{ and(ne(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'Schedule')) }}:
  ...

eng/pipelines/coreclr/perf_slow.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Every night at 2:30AM
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if and(ne(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'Schedule')) }}:
    - template: /eng/pipelines/common/platform-matrix.yml
  ...

eng/pipelines/coreclr/pr.yml:
  jobs:
  - template: /eng/pipelines/common/checkout-job.yml
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-job.yml
      buildConfig: debug
      platforms:
      - Windows_NT_x64
      - Windows_NT_x86
      jobParameters:
  ...

eng/pipelines/coreclr/superpmi-diffs.yml:
  jobs:
  - template: /eng/pipelines/common/platform-matrix.yml
    parameters:
      jobTemplate: /eng/pipelines/coreclr/templates/build-jit-job.yml
      buildConfig: checked
      platforms:
      - windows_x64
      - windows_x86
      jobParameters:
        uploadAs: pipelineArtifacts
  ...

Guard GetHRForException
  src/coreclr/vm/marshalnative.cpp
  src/coreclr/vm/marshalnative.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Guard SetupErrorInfo
  src/coreclr/vm/interoputil.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

oops
  eng/docker/build-docker-sdk.ps1
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Use m_class_has_cctor method to check if class requires no initialization
  src/mono/mono/mini/aot-compiler.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

- Fix platforms.
  eng/pipelines/runtime.yml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Correct "abstact" to "abstract". (#82738)
  src/libraries/System.Text.Json/src/Resources/Strings.resx
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

test #2
  src/coreclr/jit/flowgraph.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

delete unused mono_wasm_get_icudt_name
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/icu.ts
  src/native/libs/System.Globalization.Native/pal_icushim_static.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update src/mono/mono/mini/driver.c
  src/mono/mono/mini/driver.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[class] DIMs in the vtable of abstract classes may be overridden (#82556)
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/metadata/icall.c
  src/mono/sample/HelloWorld/Program.cs
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github81882.cs
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github81882.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

remove unused mono_wasm_array_length
  src/mono/wasi/mono-include/driver.h
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/driver.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Perform further cleanup of the code
  src/libraries/System.Net.Primitives/src/System/Net/IPNetwork.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPNetworkTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Preserve OCE.CancellationToken in StreamPipeReader (#82745)
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReader.cs
  src/libraries/System.IO.Pipelines/tests/StreamPipeReaderTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

remove unused GlobalizationNative_GetICUDTName
  src/native/libs/System.Globalization.Native/pal_icushim.h
  src/native/libs/System.Globalization.Native/pal_icushim_static.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

update types mentioned in comment to match method
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenDictionary.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

it should be <=
  src/coreclr/jit/flowgraph.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable more WBT tests with SkiSharp
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/NativeRefTests.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Set the stack size also in native targets
  src/mono/wasm/build/WasmApp.Native.targets
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

JIT: Revise DFS RPO computation (#82752)
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/ssabuilder.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[release/8.0-preview2] Versions.props: Increment package versions for 6.0, and 7.0 (#82735)
  eng/Versions.props
  eng/pipelines/common/templates/wasm-build-tests.yml
  eng/testing/tests.browser.targets
  src/libraries/Directory.Build.props
  src/libraries/sendtohelixhelp.proj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

JIT: Enable interlocked profiling for basic block counts too
  src/coreclr/jit/fgprofile.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[ComInterfaceGenerator] Rewrite exception handler if retval is a pointer (#82740)
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ElementsMarshalling.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/PointerNativeTypeAssignmentRewriter.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatelessMarshallingStrategy.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix couple of bugs and write a few meaningful tests
  src/libraries/System.Net.Primitives/src/System/Net/IPNetwork.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPNetworkTest.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Do not use ALC name for AssemblyName (#82754)
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
  src/libraries/System.Reflection.DispatchProxy/tests/DispatchProxyTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Turn off package validation for MSI packages
  src/workloads/workloads.csproj
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Disable failing test on arm machines
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

spmi change
  src/coreclr/scripts/superpmi.py
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

disable SendFileGetsCanceledByDispose also on Catalyst
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Add expected diagnostics instead of not checking for compiler errors when there are generator diagnostics
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/Compiles.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix GetHRForException
  src/coreclr/vm/marshalnative.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

misc. changes
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsrabuild.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Address the feedback
  src/libraries/Microsoft.Extensions.Options/ref/Microsoft.Extensions.Options.cs
  src/libraries/Microsoft.Extensions.Options/ref/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Options/src/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Options/src/ValidateOptionsResultBuilder.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsValidationBuilderTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

[mono] Move networking code to debugger
  src/mono/mono/component/CMakeLists.txt
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/component/debugger-networking.c
  src/mono/mono/component/debugger-networking.h
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/networking-fallback.c
  src/mono/mono/utils/networking-missing.c
  src/mono/mono/utils/networking-posix.c
  src/mono/mono/utils/networking-windows.c
  src/mono/mono/utils/networking.c
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Update flowgraph.cpp
  src/coreclr/jit/flowgraph.cpp
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/jitrollingbuild.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/coreclr/superpmi-diffs.yml, eng/pipelines/coreclr/superpmi-replay.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Tweak IndexOfAnyValues.TryGetSingleRange
  src/libraries/System.Private.CoreLib/src/System/IndexOfAnyValues/IndexOfAnyValues.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Feedback
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Fix test throwing from send
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/global-build.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

fix the compiler error when FEATURE_64BIT_ALIGNMENT is defined
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

moved a diag field;added policy
  src/coreclr/gc/gcpriv.h
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

EventPipe lock implementation
  src/coreclr/nativeaot/Runtime/Crst.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-types-aot.h
  src/tests/tracing/eventpipe/simpleprovidervalidation/simpleprovidervalidation.cs
Due: eng/pipelines/coreclr/ci.yml, eng/pipelines/coreclr/perf.yml, eng/pipelines/coreclr/perf_slow.yml, eng/pipelines/coreclr/pr.yml, eng/pipelines/global-build.yml, eng/pipelines/installer/azure-pipelines.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/runtime-cet.yml, eng/pipelines/runtime-community.yml, eng/pipelines/runtime-coreclr-staging-apple-silicon.yml, eng/pipelines/runtime-linker-tests.yml, eng/pipelines/runtime-llvmfullaot.yml, eng/pipelines/runtime-official.yml, eng/pipelines/runtime-richnav.yml, eng/pipelines/runtime-staging.yml, eng/pipelines/runtime.yml, eng/pipelines/runtimelab.yml

Path conditions:
  eng/pipelines/coreclr/ci.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/ilasm.yml: any of: src/coreclr/ilasm, src/coreclr/ildasm
  eng/pipelines/coreclr/jitrollingbuild.yml: any of: src/coreclr/jit, src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/jitstress-isas-avx512.yml: any of: src/coreclr/jit/instrsxarch.h, src/coreclr/jit/emitxarch.cpp, src/coreclr/jit/emitxarch.h
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: **.md, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/perf_slow.yml: any of: *, src/libraries/System.Private.CoreLib, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/coreclr/pr.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries, eng/pipelines/runtime.yml
  eng/pipelines/coreclr/superpmi-diffs.yml: any of: src/coreclr/jit, but not: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi-replay.yml: any of: src/coreclr/jit, src/coreclr/tools/superpmi, but not: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/coreclr/superpmi.yml: any of: src/coreclr/inc/jiteeversionguid.h
  eng/pipelines/global-build.yml: any of: *, docs/manpages, eng/pipelines/global-build.yml, but not: **.md, .devcontainer, .github, docs, eng/pipelines/coreclr/*.*, eng/pipelines/libraries/*.*, eng/pipelines/installer/*.*, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/installer/azure-pipelines.yml: any of: *, docs/manpages, but not: src/coreclr, src/libraries, eng/pipelines/coreclr, eng/pipelines/libraries, eng/pipelines/common, eng/pipelines/runtime.yml, docs, README.md, CONTRIBUTING.md, LICENSE.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer
  eng/pipelines/libraries/enterprise/linux.yml: any of: eng/pipelines/libraries/enterprise, src/libraries/Common/src/System/Net, src/libraries/Common/tests/System/Net, src/native/libs/System.Net.Security.Native, src/libraries/System.Net.Http, src/libraries/System.Net.Security
  eng/pipelines/runtime-cet.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-community.yml: any of: *, docs/manpages, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-coreclr-staging-apple-silicon.yml: any of: *, but not: eng/Version.Details.xml, .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-linker-tests.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-llvmfullaot.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-official.yml: any of: *, docs/manpages, but not: **/*.md, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-richnav.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime-staging.yml: any of: *, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtime.yml: any of: *, docs/manpages, but not: **.md, eng/Version.Details.xml, .devcontainer, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/runtimelab.yml: any of: *, docs/manpages, but not: **/*.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
