Repository dotnet/runtime: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Path conditions:
  eng/pipelines/coreclr/perf.yml: any of: *, src/libraries/System.Private.CoreLib, but not: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/libraries, eng/pipelines/installer, eng/pipelines/libraries
  eng/pipelines/libraries/.azure-ci.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common
  eng/pipelines/libraries/enterprise/linux.yml: any file but: docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT, src/installer, src/coreclr, eng/pipelines/coreclr, eng/pipelines/installer, eng/pipelines/common

stabilize Copy_LargeMultiDimensionalArray test (#484)
  src/libraries/System.Runtime/tests/Helpers.cs
  src/libraries/System.Runtime/tests/System/ArrayTests.cs
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

fix unit test
  src/libraries/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Sigh - one last bit, propagation of condition wasn't working properly
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-test-job.yml
  eng/pipelines/libraries/run-test-job.yml
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Fix broken links in CONTRIBUTING.md documentation
  CONTRIBUTING.md
Due: none

Fix xml doc comment on FlushResult.IsCompleted
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/FlushResult.cs
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Fix broken links in CONTRIBUTING.md documentation (#488)
  CONTRIBUTING.md
Due: none

Change to feature defs
  eng/common/cross/toolchain.cmake
  src/coreclr/configurecompiler.cmake
  src/libraries/Native/Unix/CMakeLists.txt
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Cleanup from PR feedback.
  eng/liveBuilds.targets
  src/coreclr/tests/src/Directory.Build.targets
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Implement BitwiseSelect intrinsic in jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
Due: eng/pipelines/coreclr/perf.yml

Add SimpleTernOpTest.template in JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
Due: eng/pipelines/coreclr/perf.yml

Implement Helpers.BitwiseSelect
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.tt
Due: eng/pipelines/coreclr/perf.yml

Port _TernaryOpTestTemplate.template to Arm64
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/_TernaryOpTestTemplate.template
Due: eng/pipelines/coreclr/perf.yml

Remove genSpecialIntrinsic declaration in codegen.h
  src/coreclr/src/jit/codegen.h
Due: eng/pipelines/coreclr/perf.yml

WS formatting
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
Due: eng/pipelines/coreclr/perf.yml

Add BitwiseSelect tests in GenerateTests.csx
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
Due: eng/pipelines/coreclr/perf.yml

Add BitwiseSelect tests in AdvSimd\*
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd.cs
Due: eng/pipelines/coreclr/perf.yml

feedback from review
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Make Crossgen2 tests run daily (#482)
  eng/pipelines/coreclr/crossgen2.yml
Due: eng/pipelines/coreclr/perf.yml

Enable parallelism in Crossgen2 and add flags for it in SuperIlc.
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CommandLineOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CpaotRunner.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/src/tools/crossgen2/crossgen2/CommandLineOptions.cs
  src/coreclr/src/tools/crossgen2/crossgen2/Program.cs
Due: eng/pipelines/coreclr/perf.yml

Initial live-live CI pipeline (#294)
  eng/pipelines/coreclr/templates/build-test-job.yml
  eng/pipelines/coreclr/templates/run-test-job.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/build-test-job.yml
  eng/pipelines/libraries/helix.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/runtime.yml
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
  src/coreclr/tests/scripts/patch-corefx.py
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Snap updates for 3.1 GA
  src/installer/pkg/packaging/snaps/dotnet-runtime-3.1/snap/snapcraft.yaml
  src/installer/pkg/packaging/snaps/dotnet-sdk/snap/snapcraft.yaml
Due: none

fixed VirtualMemoryLogging::logRecords overflow (#308)
  src/coreclr/src/pal/src/map/virtual.cpp
Due: eng/pipelines/coreclr/perf.yml

Fix nits.
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/src/tools/crossgen2/crossgen2/CommandLineOptions.cs
Due: eng/pipelines/coreclr/perf.yml

Rename and simplify
  eng/common/cross/toolchain.cmake
  src/coreclr/configurecompiler.cmake
  src/libraries/Native/Unix/CMakeLists.txt
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Correct closing
  src/coreclr/configurecompiler.cmake
  src/libraries/Native/Unix/CMakeLists.txt
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Forgotten closing
  eng/common/cross/toolchain.cmake
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Prefer add_definitions
  eng/common/cross/toolchain.cmake
  src/coreclr/configurecompiler.cmake
  src/libraries/Native/Unix/CMakeLists.txt
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Rename
  eng/common/cross/toolchain.cmake
  src/coreclr/configurecompiler.cmake
  src/coreclr/src/pal/src/arch/arm/context2.S
  src/libraries/Native/Unix/CMakeLists.txt
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Only copy libraries outputs to artifacts/bin/runtime.
  src/libraries/Directory.Build.targets
  src/libraries/shims/Directory.Build.props
  src/libraries/shims/manual/Directory.Build.props
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Use the netcoreapp output directories for OOB-included references to libraries outputs.
  eng/liveBuilds.targets
  src/coreclr/build-test.cmd
  src/libraries/Directory.Build.targets
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Fully qualify, add partial
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/SkipLocalsInitAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Remove references to deleted old corefx override setup.
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
Due: eng/pipelines/coreclr/perf.yml

First pass to get new runtime pipeline using the local live-live infra (coreclr+libraries only for now).
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/libraries/base-job.yml
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

[configure.ac] Build on FreeBSD/PowerPC64 (mono/mono#18015)
  src/mono/configure.ac
Due: eng/pipelines/coreclr/perf.yml, eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

Fix crossgen2 ArgIterator for amd64 Unix ABI
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/JitInterface/SystemVStructClassificator.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildFolderSet.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
Due: eng/pipelines/coreclr/perf.yml

Fix regression with manifest table: do not write entries that are already in the list of assembly refs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ManifestMetadataTableNode.cs
Due: eng/pipelines/coreclr/perf.yml

Don't generate layout during test native build.
  eng/pipelines/coreclr/templates/build-job.yml
Due: eng/pipelines/coreclr/perf.yml

System.NET Powershell Deployment scripts.
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/config.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_domaincontroller.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_firewall.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_iisserver.ps1
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

feedback from review
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SniHelper.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml

System.NET Powershell Deployment scripts. (#501)
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/config.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_domaincontroller.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_firewall.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_iisserver.ps1
Due: eng/pipelines/libraries/.azure-ci.yml, eng/pipelines/libraries/enterprise/linux.yml
